.instance-settings {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 0.5em;

    & .instance-name {
        font-weight: bold;
        font-size  : 1.2em;
    }

    & .instance-status {
        font-weight: bold;
    }

    & button {
        padding         : 0.5em 1em;
        border          : 0.1em solid;
        background-color: var(--darkest-gray);

        &:hover:not(.forbidden) {
            border-color: var(--font) !important;
        }

        &.forbidden {
            border-color: var(--darkest-gray) !important;
            color       : var(--gray) !important;
        }

        &.start-button {
            color       : var(--green);
            border-color: var(--green);
        }

        &.stop-button {
            color       : var(--red);
            border-color: var(--red);
        }
    }
}