.instance-settings {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 1em;

    & .instance-name {
        font-weight: bold;
    }

    & .instance-separator {
        grid-column  : 1 /span 2;
        border-bottom: 2px solid var(--gray);

        &:last-child {
            display: none;
        }
    }

    & button {
        padding         : 0.5em;
        border          : 0.01em solid;
        background-color: var(--darker-gray);

        &:hover:not(.forbidden) {
            border-color: var(--white) !important;
        }

        &.forbidden {
            border-color: var(--darker-gray) !important;
            color       : var(--gray) !important;
        }

        &.start-button {
            color       : var(--green);
            border-color: var(--green);
        }

        &.stop-button {
            color       : var(--red);
            border-color: var(--red);
        }
    }
}