.preset-control__clock-controls {
    display              : grid;
    grid-template-columns: auto auto;
    gap                  : 0.2em;

    justify-items: center;
    margin-top   : 0.2em;
    font-size    : 1.2em;

    color: var(--gray);

    & .active {
        color: var(--font)
    }
}