.preset-control__clock-controls {
    display              : grid;
    grid-template-columns: auto auto;
    gap                  : 0.2em;
    width                : min-content;

    margin   : 0.2em auto 0 auto;
    font-size: 1.2em;

    & .clock-control {
        height: 1.9em;
        width : 1.9em;

        border: 0.05em solid;

        &.negative {
            background-color: transparent !important;
        }

        &:hover {
            border-width: 0.3em;
        }

        &.attached {
            border-color    : var(--font) !important;
            background-color: var(--font) !important;

            &.negative {
                background-color: transparent !important;
            }
        }
    }
}