<!doctype html>
<html>

{{define "dragonControl"}}
<div class="visual-control">
    <span>{{.DisplayName}}</span>

    <button type="button" class="start" onclick='sendDragonEffect("{{.DisplayName}}", "START")'>start</button>
    <button type="button" class="restart" onclick='sendDragonEffect("{{.DisplayName}}", "RESTART")'>restart</button>
    <button type="button" class="stop" onclick='sendDragonEffect("{{.DisplayName}}", "STOP")'>stop</button>

    <div class="control-option" title="makes the dragon continuously float up while active">
        <label for="dragon-float-up">float up</label>
        <input id="dragon-float-up" type="checkbox" />
    </div>
</div>
{{end}}