<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mad Zoo Events Visual Control System</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/httpClient.js"></script>
    <script type="text/javascript" src="/static/js/uiManager.js"></script>
</head>

<body>
    <table class="preset-table">
        <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Effects</td>
            <td>Actions</td>
        </thead>
        <tr>
            <td colspan="5" class="type-header type-header-cyan">Particle Effect Presets</td>
        </tr>
        {{range .ParticleEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .ParticleEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{.Name}}</span>
                <span>{{.Region.RegionType}}</span>
                <span class="code">{{.Region.PointIDs}}</span>
                {{end}}
            </td>
            <td class="actions-column">
                🗑 🖉 ➕
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="5" class="type-header type-header-magenta">Dragon Effect Presets</td>
        </tr>
        {{range .DragonEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .DragonEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span></span>
                <span>{{if .Static}}STATIC{{else}}MOVING UP{{end}}</span>
                <span class="code">[{{.PointID}}]</span>
                {{end}}
            </td>
            <td class="actions-column">
                🗑 🖉 ➕
            </td>
        </tr>
        {{end}}
    </table>

    <div class="footer">
        <div></div>
        <div class="master-controls">
            <button class="cyan" type="button">Add&nbsp;New Particle&nbsp;Effect&nbsp;Preset</button>
        </div>
        <div class="master-controls">
            <button class="magenta" type="button">Add&nbsp;New Dragon&nbsp;Effect&nbsp;Preset</button>
        </div>
        <div class="master-controls">
            <button class="darker-cyan" type="button"
                onclick='window.location.href = "../controlpanel";'>Back&nbsp;to&nbsp;Control&nbsp;Panel</button>
        </div>
    </div>
</body>

</html>