{{define "header"}}

<head>
    <meta charset="utf-8">
    <title>Mad Zoo Events Visual Control System</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css?ver=1.6">
    <script type="text/javascript" src="/static/js/httpClient.js?ver=1.10"></script>
    <script type="text/javascript" src="/static/js/uiManager.js?ver=1.16"></script>
    <script type="text/javascript" src="/static/js/websocketClient.js?ver=1.12"></script>
</head>

{{end}}
