{{define "headerShared"}}

<meta charset="utf-8">
<title>Mad Zoo Events Visual Control System</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="icon" href="/static/favicon.ico">

<link rel="stylesheet" href="/static/css/common.css?ver=1.1">

<script type="text/javascript" src="/static/js/httpClient.js?ver=2.0"></script>
<script type="text/javascript" src="/static/js/uiManager.js?ver=3.0"></script>

<script src="https://kit.fontawesome.com/38dbf8c7ba.js" crossorigin="anonymous"></script>

{{end}}

{{define "headerControlpanel"}}

<head>
    {{template "headerShared"}}
    <link rel="stylesheet" href="/static/css/controlpanel.css?ver=1.1">
    <script type="text/javascript" src="/static/js/websocketClient.js?ver=1.24"></script>
</head>

{{end}}
