{{define "bossbarForm"}}

<form id="bossbar-form" method="POST" action="/bossbar/set" target="dummyframe">
    <i class="header-icon fas fa-skull fa-2x"></i>
    <div class="popup">
        <input type="text" id="bossbar-text" name="bossbar-text" placeholder="Now Playing: Bob Ross" autocomplete="off"
            onfocus='suppressHotkeys=true; toggleFormattingCodePopup();'
            onblur='suppressHotkeys=false; toggleFormattingCodePopup();'
            onkeyup='bossbarAutoUpdate && BossbarForm.submit();'>
        <div class="popup-content bossbar-formatting-group" id="bossbar-formatting-popup" tabindex="0"
            onmouseover='hoveringOverFormattingPopup=true;' onmouseout='hoveringOverFormattingPopup=false;'
            onblur='toggleFormattingCodePopup();'>
            <div id="bossbar-color-formatting" class="bossbar-formatting-group">
                <div>▼</div>
                <div><b>First: color</b></div>
            </div>
            <div id="bossbar-decoration-formatting" class="bossbar-formatting-group">
                <div>▼</div>
                <div><b>Then: formatting</b></div>
            </div>
        </div>
    </div>
    <select id="bossbar-color" name="bossbar-color" onchange='bossbarAutoUpdate && BossbarForm.submit();'>
        {{range $.MinecraftColors}}
        <option value="{{.}}">{{.}}</option>
        {{end}}
    </select>
    <button class="header-button disabled" type="button" id="bossbar-update-button" disabled
        onclick='BossbarForm.submit();'>Update</button>
    <button class="header-button" type="button" onclick='doClearBossbar();'>Hide</button>
    <i class="header-icon fas fa-toggle-on fa-2x" onclick='togglebossbarAutoUpdate(this)'></i>
</form>

{{end}}
