<!doctype html>
<html>

{{template "header"}}

<body onload="init()" onkeypress='handleKeypress(event);'>
    <div class="main-controls-holder">
        <div class="controls-holder particle-controls">
            <span class="controls-header cyan">Particle</span>
            {{range .ParticleEffectPresets}}
            {{template "particleEffectControl" .}}
            {{end}}
        </div>
        <div class="controls-holder dragon-controls">
            <span class="controls-header magenta">Dragon</span>
            {{range .DragonEffectPresets}}
            {{template "dragonControl" .}}
            {{end}}
        </div>
        <div class="controls-holder timeshift-controls">
            <span class="controls-header orange">Timeshift</span>
            {{range .TimeshiftEffectPresets}}
            {{template "timeshiftControl" .}}
            {{end}}
        </div>
        <div class="controls-holder potion-controls">
            <span class="controls-header green">Potion</span>
            {{range .PotionEffectPresets}}
            {{template "potionControl" .}}
            {{end}}
        </div>
    </div>
    <div class="footer">
        <div id="log-window"></div>
        <div id="clock-holder">
            <h3>Clock</h3>
            <div id="clock-indicator"></div>
            <input id="clock-bpm-input" value="175" type="number" min="40" max="200" step="1" oninput='updateClockBPM("clock-bpm-range", this.value);' onchange='setClock();' />
            <input id="clock-bpm-range" value="175" type="range" min="40" max="200" step="1" oninput='updateClockBPM("clock-bpm-input", this.value);' onchange='setClock();' />
            <select id="clock-th-input" onchange='setClock();'>
                <option value="16">4/1</option>
                <option value="8">2/1</option>
                <option value="4">1/1</option>
                <option value="2">1/2</option>
                <option value="1" selected>1/4</option>
                <option value="0.5">1/8</option>
                <option value="0.25">1/16</option>
            </select>
            <button class="cyan" onclick='clockTap();'>TAP</button>
            <button class="cyan" onclick='restartClock();'>Restart</button>
        </div>
        <div id="status-window">
            <h3>Status</h3>
            <table>
                <tr>
                    <td>
                        <span>Servers listening: </span>
                    </td>
                    <td>
                        <span id="status-server-count">{{.RegisteredServerCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Effect Delay: </span>
                    </td>
                    <td>
                        <span id="status-last-request-time">-</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="master-controls">
            <button class="stop" type="button"
                onclick='doEffect("particle", "all", "stop all", "stop")'>stop&nbsp;all</button>
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Manage
                Presets</button>
        </div>
    </div>
</body>

</html>