<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mad Zoo Events Visual Control System</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/httpClient.js"></script>
    <script type="text/javascript" src="/static/js/uiManager.js"></script>
</head>

<body onload="init()" onkeypress='handleKeypress(event);'>
    <div class="main-controls-holder">
        <div class="controls-holder particle-controls">
            <span class="controls-header cyan">Particle</span>
            {{range .ParticleEffectPresets}}
            {{template "particleEffectControl" .}}
            {{end}}
        </div>
        <div class="controls-holder dragon-controls">
            <span class="controls-header magenta">Dragon</span>
            {{range .DragonEffectPresets}}
            {{template "dragonControl" .}}
            {{end}}
        </div>
        <div class="controls-holder timeshift-controls">
            <span class="controls-header orange">Timeshift</span>
            {{range .TimeshiftEffectPresets}}
            {{template "timeshiftControl" .}}
            {{end}}
        </div>
        <div class="controls-holder potion-controls">
            <span class="controls-header green">Potion</span>
            {{range .PotionEffectPresets}}
            {{template "potionControl" .}}
            {{end}}
        </div>
    </div>
    <div class="footer">
        <div id="log-window"></div>
        <div id="status-window">
            <h3>Status</h3>
            <table>
                <tr>
                    <td>
                        <span>Servers listening: </span>
                    </td>
                    <td>
                        <span id="status-server-count">{{.RegisteredServerCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Effect Delay: </span>
                    </td>
                    <td>
                        <span id="status-last-request-time">-</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="master-controls">
            <button class="stop" type="button"
                onclick='doEffect("particle", "all", "stop all", "stop")'>stop&nbsp;all</button>
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Manage
                Presets</button>
        </div>
    </div>
</body>

</html>