<!doctype html>
<html>

{{template "header"}}

<body onload="init()" onkeypress='handleKeypress(event);' onkeydown='handleKeydown(event);'>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <div class="header">
        <div id="header-bossbar-control">{{template "bossbarForm" .}}</div>
        <div id="header-command-control">{{template "commandForm" .}}</div>
        <div id="header-stageselect-control">{{template "stageSelector" .}}</div>
        <div id="header-serverselect-control">{{template "serverManager" .}}</div>
        <div id="header-presetmanager-control">{{template "presetManager" .}}</div>
        <div id="header-caps-control">
            <div id="caps-warning">YOU GOT CAPS LOCK ON!!</div>
        </div>
    </div>
    <div class="main-controls-holder">
        <div class="controls-holder particle-controls">
            <span class="controls-header cyan">Particle</span>
            {{range .ParticleEffectPresets}}
            {{template "particleEffectControl" .}}
            {{end}}
        </div>
        <div class="controls-holder dragon-controls">
            <span class="controls-header magenta">Dragon</span>
            {{range .DragonEffectPresets}}
            {{template "dragonControl" .}}
            {{end}}
        </div>
        <div class="controls-holder laser-controls">
            <span class="controls-header indigo">Laser</span>
            {{range .LaserEffectPresets}}
            {{template "laserControl" .}}
            {{end}}
        </div>
        <div class="controls-holder timeshift-controls">
            <span class="controls-header orange">Timeshift</span>
            {{range .TimeshiftEffectPresets}}
            {{template "timeshiftControl" .}}
            {{end}}
        </div>
        <div class="controls-holder potion-controls">
            <span class="controls-header green">Potion</span>
            {{range .PotionEffectPresets}}
            {{template "potionControl" .}}
            {{end}}
        </div>
    </div>
    <div class="footer">
        <div id="log-window"></div>
        <div id="clock-holder">
            <h3 id="clock-title">Clock</h3>
            <div id="clock-indicator"></div>
            <input id="clock-bpm-input" type="number" min="40" max="200" step="0.1" onfocus='suppressHotkeys=true'
                onblur='suppressHotkeys=false' oninput='updateClockBPM("clock-bpm-range", this.value);'
                onchange='changeClockSpeed();' />
            <input id="clock-bpm-range" type="range" min="40" max="200" step="0.1"
                oninput='updateClockBPM("clock-bpm-input", this.value);' onchange='changeClockSpeed();' />
            <select id="clock-th-input" onchange='changeClockSpeed();'>
                <option value="32">8/1</option>
                <option value="16">4/1</option>
                <option value="8">2/1</option>
                <option value="4">1/1</option>
                <option value="2">1/2</option>
                <option value="1">1/4</option>
                <option value="0.5">1/8</option>
                <option value="0.25">1/16</option>
                <option value="0.125">1/32</option>
            </select>
            <button id="clock-tap-button" class="cyan" onclick='clockTap();'>►&nbsp;+&nbsp;◄<br />TAP</button>
            <!-- <button id="clock-restart-button" class="cyan"
                onclick='restartClock();'>►&nbsp;-&nbsp;◄<br />Restart</button> -->
        </div>
        <div id="status-window">
            <h3>Status</h3>
            <table>
                <tr>
                    <td>
                        <span>Status:</span>
                    </td>
                    <td>
                        <span class="orange" id="status-connection-status">Disconnected</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Servers Listening: </span>
                    </td>
                    <td>
                        <span id="status-server-count">{{.ActiveServerCount}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Last Effect Latency: </span>
                    </td>
                    <td>
                        <span id="status-last-request-time">-</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Average Latency: </span>
                    </td>
                    <td>
                        <span id="status-average-request-time">-</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Application Version: </span>
                    </td>
                    <td>
                        <span>{{.AppVersion}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="main-controls">
            <button id="stop-all-button" class="stop" type="button"
                onclick='doStopAll(true);'>►&nbsp;0&nbsp;◄<br />stop&nbsp;all<br />(detach&nbsp;clock)</button>
            <button id="stop-all-no-clock-button" class="stop2" type="button"
                onclick='doStopAll(false);'>►&nbsp;-&nbsp;◄<br />stop&nbsp;all<br />(keep&nbsp;clock)</button>
        </div>
    </div>
</body>

</html>
