{{define "dragonControl"}}
<div class="visual-control">
    <span title="{{.Description}}">{{.DisplayName}}</span>
    <hr />
    {{if .UIKeyBinding}}<span>► {{.UIKeyBinding}} ◄</span>{{end}}

    <button type="button" class="start" id="start-{{.ID}}"
        onclick='doEffect("dragon", "{{.ID}}", "{{.DisplayName}}", "start")'>start</button>
    <button type="button" class="restart"
        onclick='doEffect("dragon", "{{.ID}}", "{{.DisplayName}}", "restart")'>restart</button>
    <button type="button" class="stop"
        onclick='doEffect("dragon", "{{.ID}}", "{{.DisplayName}}", "stop")'>stop</button>
</div>
{{end}}