{{define "dragonControl"}}

<div class="visual-control" title="{{.Description}}">
    <span>{{.DisplayName}}</span>

    <button type="button" class="start-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="dragon"
        onclick='doEffect("dragon", "{{.ID}}", "start")'>
        {{if .UIKeyBinding}}<span class="keyboard-shortcut">{{.UIKeyBinding}}</span>
        {{else}}<i class="fas fa-play fa-lg"></i>{{end}}
    </button>
    <button type="button" class="restart-button" effect-id="{{.ID}}"
        onclick='doEffect("dragon", "{{.ID}}", "restart")'><i class="fas fa-sync fa-lg"></i></button>
    <button type="button" class="stop-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="dragon"
        onclick='doEffect("dragon", "{{.ID}}", "stop")'><i class="fas fa-stop fa-lg"></i></button>
    <div class="clock-buttons">
        <i class="clock fas fa-circle fa-2x onbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("dragon", "{{.ID}}", false)'></i>
        <i class="clock far fa-circle fa-2x offbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("dragon", "{{.ID}}", true)'></i>
    </div>
</div>

{{end}}
