{{define "serverManager"}}

<span class="header-title">Servers</span>
<div class="popup server-manager-popup">
    <i class="header-icon fas fa-satellite-dish fa-2x"></i>
    <div class="popup-content server-manager-group" id="server-manager-popup">

        {{range .RegisteredServers}}
        <input type="checkbox" class="server-checkbox" name="{{.ID}}" {{if .IsActive}}checked{{end}}
            onchange='doToggleServer("{{.ID}}", this);'>
        <span>{{.Name}}</span>
        {{end}}
    </div>

</div>

{{end}}

{{define "presetManager"}}

<span class="header-title">Presets</span>
<i class="header-icon fas fa-cogs fa-2x"></i>

{{end}}
