{{define "particleEffectControl"}}
<div class="visual-control">
    <span title="{{.Description}}">{{.DisplayName}}</span>
    <hr />
    {{if .UIKeyBinding}}<span>► {{.UIKeyBinding}} ◄</span>{{end}}

    <button type="button" class="trigger"
        onclick='doEffect("particle", "{{.ID}}", "{{.DisplayName}}", "trigger")'>trigger</button>
    <button type="button" class="start key-binding-{{.KeyBinding}}" id="start-{{.ID}}"
        onclick='doEffect("particle", "{{.ID}}", "{{.DisplayName}}", "start")'>start</button>
    <button type="button" class="stop key-binding-{{.KeyBinding}}"
        onclick='doEffect("particle", "{{.ID}}", "{{.DisplayName}}", "stop")'>stop</button>
</div>
{{end}}