{{define "particleEffectControl"}}

<div class="visual-control" title="{{.Description}}">
    <span>{{.DisplayName}}</span>

    <button type="button" class="trigger-button" effect-id="{{.ID}}"
        onclick='doEffect("particle", "{{.ID}}", "trigger")'><i class="fas fa-step-forward fa-lg"></i></button>
    <button type="button" class="start-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="particle"
        onclick='doEffect("particle", "{{.ID}}", "start")'>
        {{if .KeyBinding}}<span class="keyboard-shortcut">{{.KeyBinding | printf "%c"}}</span>
        {{else}}<i class="fas fa-play fa-lg"></i>{{end}}
    </button>
    <button type="button" class="stop-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="particle"
        onclick='doEffect("particle", "{{.ID}}", "stop")'><i class="fas fa-stop fa-lg"></i>
    </button>
    <div class="clock-buttons">
        <i class="clock fas fa-circle fa-2x onbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("particle", "{{.ID}}", false)'></i>
        <i class="clock far fa-circle fa-2x offbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("particle", "{{.ID}}", true)'></i>
    </div>
</div>

{{end}}
