{{define "potionControl"}}

<div class="visual-control" title="{{.Description}}">
    <span>{{.DisplayName}}</span>

    <button type="button" class="start-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="potion"
        onclick='doEffect("potion", "{{.ID}}", "start")'>
        {{if .UIKeyBinding}}<span class="keyboard-shortcut">{{.UIKeyBinding}}</span>
        {{else}}<i class="fas fa-play fa-lg"></i>{{end}}
    </button>
    <button type="button" class="stop-button" key-binding="{{.KeyBinding}}" effect-id="{{.ID}}" effect-type="potion"
        onclick='doEffect("potion", "{{.ID}}", "stop")'><i class="fas fa-stop fa-lg"></i></button>
    <div class="clock-buttons">
        <i class="clock clock fas fa-circle fa-2x onbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("potion", "{{.ID}}", false)'></i>
        <i class="clock clock far fa-circle fa-2x offbeat-clock-button" effect-id="{{.ID}}"
            onclick='attachClock("potion", "{{.ID}}", true)'></i>
    </div>
</div>

{{end}}
