{{define "serverManager"}}

<span class="header-title">Servers</span>
<div class="popup server-manager-popup">
    <span class="server-manager-button" onclick='toggleServerManagerPopup();'>📡</span>
    <div class="popup-content server-manager-group" id="server-manager-popup">

        {{range .RegisteredServers}}
        <input type="checkbox" class="server-checkbox" name="{{.ID}}" {{if .IsActive}}checked{{end}}
            onchange='doToggleServer("{{.ID}}", this);'>
        <span>{{.Name}}</span>
        {{end}}
    </div>

</div>

{{end}}
