div.control-panel__footer-controls {
    display              : grid;
    grid-template-columns: auto min-content;
    gap                  : 0.5em;
    padding              : 0.5em 0.5em 0 0.5em;

    & .log-console {
        padding   : 0.5em;
        height    : 10em;
        overflow-y: scroll;
        font-size : smaller;

        border: 1px solid var(--dark-gray);
    }

    & .stop-buttons {
        display              : grid;
        grid-template-columns: 50% 50%;
        grid-template-areas  :
            'effects    clocks'
            'everything everything';
        gap       : 0.3em;
        height    : min-content;
        text-align: center;

        color: var(--red);

        & .stop-effects {
            grid-area: effects;
        }

        & .detach-clocks {
            grid-area: clocks;
        }

        & .stop-everything {
            grid-area: everything;
            margin   : auto;
        }
    }
}