.control-panel__footer-controls {
    display              : grid;
    grid-template-columns: auto repeat(4, min-content);
    gap                  : 0 1em;
    padding              : 0.5em;
    height               : 11.5em;

    & .separator {
        border-left: 2px solid var(--gray);
    }

    & .log-console {
        height      : 100%;
        overflow-y  : auto;
        font-size   : small;
        margin-right: -0.5em;
    }

    & .stop-buttons {
        display              : grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-areas  :
            'effects    .          clocks'
            'everything everything everything';
        gap   : 1em;
        height: min-content;

        color: var(--red);

        & .clock-button {
            display: inline-flex;

            & svg {
                margin-right: 0.3em;
            }
        }

        & .stop-effects {
            grid-area: effects;
        }

        & .detach-clocks {
            grid-area: clocks;
        }

        & .stop-everything {
            grid-area: everything;
        }
    }
}