.clock {
    display              : grid;
    grid-template-columns: 5em auto 5em;
    grid-template-rows   : 3em auto max-content;
    gap                  : 0.5em;

    & .indicator {
        grid-row     : 1;
        grid-column  : 1 / span 3;
        display      : inline-flex;
        border-radius: 0.2em;
        color        : var(--font);

        &-active {
            background-color: var(--accent);
        }

        &-inactive {
            background-color: var(--darker-accent);
        }

        & span {
            margin: auto;
        }
    }

    & .clock-button {
        margin     : 0 auto;
        text-align : center;
        user-select: none;
        color      : var(--accent);
    }

    & .tap-stats {
        display              : grid;
        grid-template-columns: max-content auto;
        gap                  : 0 1em;

        height: min-content;

        & .tap-title {
            grid-column  : 1 /span 2;
            font-weight  : bold;
            margin-bottom: 0.3em;
            color        : var(--font);
        }

        & .sample-size-too-small {
            color: var(--orange);
        }
    }
}