.control-panel__placeholder-category-holder {
    display     : inline-flex;
    height      : max-content;
    margin-right: 0.8em;

    & .control-panel__category-section {
        min-height: 100%;

        & .header {
            margin-right: 0;
        }
    }
}

.react-grid-layout {
    position    : relative;
    transition  : height 200ms ease;
    margin-right: 1px;
}

.react-grid-item {
    transition         : all 200ms ease;
    transition-property: left, top;
}

.react-grid-item.cssTransforms {
    transition-property: transform;
}

.react-grid-item.resizing {
    z-index    : 1;
    will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
    transition : none;
    z-index    : 3;
    will-change: transform;
}

.react-grid-item.dropping {
    visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
    background         : var(--accent);
    opacity            : 0.2;
    transition-duration: 100ms;
    z-index            : 2;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    -o-user-select     : none;
    user-select        : none;
}

.react-grid-item>.react-resizable-handle {
    position: absolute;
    width   : 2em;
    height  : 2em;
    bottom  : 0;
    right   : 0;
    cursor  : se-resize;
}

.react-grid-item>.react-resizable-handle::after {
    content      : "";
    position     : absolute;
    right        : 0.5em;
    bottom       : 0.5em;
    width        : 1em;
    height       : 1em;
    border-right : 0.3em solid var(--lighter-gray-alpha);
    border-bottom: 0.3em solid var(--lighter-gray-alpha);
}

.react-resizable-hide>.react-resizable-handle {
    display: none;
}