.control-panel__categorized-holder {
    display              : grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-areas  :
        'particle particle potion'
        'particle particle timeshift'
        'dragon   laser laser'
        'command  command command';

    & .particle-controls {
        grid-area: particle;
    }

    & .dragon-controls {
        grid-area: dragon;
    }

    & .laser-controls {
        grid-area: laser;
    }

    & .timeshift-controls {
        grid-area: timeshift;
    }

    & .potion-controls {
        grid-area: potion;
    }

    & .command-controls {
        grid-area: command;
    }
}

.control-panel__placeholder-category-holder {
    display     : inline-flex;
    height      : max-content;
    margin-right: 0.8em;

    & .control-panel__category-section {
        min-height: 100%;

        & .header {
            margin-right: 0;
        }
    }
}