.delete-button {
    cursor: pointer;
    color : var(--red);
    margin: 0 auto;

    &:hover {
        ~label {
            color: var(--red);
        }

        ~input,
        ~.command-input textarea,
        ~select,
        ~.checkbox-container span {
            background-color: var(--darker-red);
        }
    }
}