files:
  /etc/nginx/htpasswd:
    mode: "000755"
    owner: root
    group: root
    content: |
      vj:$apr1$zi9IadmY$02lQKzIEHrsyeR1IUNxAq0
  
  /tmp/deployment/nginx_basic_auth_staging:
    mode: "000755"
    content: |
      if ! grep -q "auth_basic" /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf; then
        echo -e "\nlocation /public {\n  proxy_pass          http://127.0.0.1:5000;\n  proxy_http_version  1.1;\n\n  proxy_set_header    Connection          \$connection_upgrade;\n  proxy_set_header    Upgrade             \$http_upgrade;\n  proxy_set_header    Host                \$host;\n  proxy_set_header    X-Real-IP           \$remote_addr;\n  proxy_set_header    X-Forwarded-For     \$proxy_add_x_forwarded_for;\n\n  auth_basic \"Are you a VJ?\";\n  auth_basic_user_file /etc/nginx/htpasswd;\n}" >> /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf
        echo -e "\nlocation / {\n  proxy_pass          http://127.0.0.1:5000;\n  proxy_http_version  1.1;\n\n  proxy_set_header    Connection          \$connection_upgrade;\n  proxy_set_header    Upgrade             \$http_upgrade;\n  proxy_set_header    Host                \$host;\n  proxy_set_header    X-Real-IP           \$remote_addr;\n  proxy_set_header    X-Forwarded-For     \$proxy_add_x_forwarded_for;\n\n  auth_basic \"Are you a VJ?\";\n  auth_basic_user_file /etc/nginx/htpasswd;\n}" >> /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf
      fi

  /tmp/deployment/nginx_basic_auth:
    mode: "000755"
    content: |
      if ! grep -q "auth_basic" /etc/nginx/conf.d/elasticbeanstalk/00_application.conf; then
        echo -e "\nlocation /public {\n  proxy_pass          http://127.0.0.1:5000;\n  proxy_http_version  1.1;\n\n  proxy_set_header    Connection          \$connection_upgrade;\n  proxy_set_header    Upgrade             \$http_upgrade;\n  proxy_set_header    Host                \$host;\n  proxy_set_header    X-Real-IP           \$remote_addr;\n  proxy_set_header    X-Forwarded-For     \$proxy_add_x_forwarded_for;\n\n  auth_basic \"Are you a VJ?\";\n  auth_basic_user_file /etc/nginx/htpasswd;\n}" >> /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
        echo -e "\nlocation / {\n  proxy_pass          http://127.0.0.1:5000;\n  proxy_http_version  1.1;\n\n  proxy_set_header    Connection          \$connection_upgrade;\n  proxy_set_header    Upgrade             \$http_upgrade;\n  proxy_set_header    Host                \$host;\n  proxy_set_header    X-Real-IP           \$remote_addr;\n  proxy_set_header    X-Forwarded-For     \$proxy_add_x_forwarded_for;\n\n  auth_basic \"Are you a VJ?\";\n  auth_basic_user_file /etc/nginx/htpasswd;\n}" >> /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      fi

container_commands:
  01nginx_basic_auth_staging:
    command: /tmp/deployment/nginx_basic_auth_staging
    ignoreErrors: true
  02nginx_basic_auth:
    command: /tmp/deployment/nginx_basic_auth
    ignoreErrors: true
  03restart_nginx:
    command: systemctl restart nginx