files:
  /etc/nginx/htpasswd:
    mode: "000755"
    owner: root
    group: root
    content: |
      vj:$apr1$zi9IadmY$02lQKzIEHrsyeR1IUNxAq0

  /tmp/deployment/nginx_basic_auth_location:
    mode: "000755"
    owner: root
    group: root
    content: |
      location ~ ^/(public|api|controlpanel|presetmanager) {
        proxy_pass          http://127.0.0.1:5000;
        proxy_http_version  1.1;

        proxy_set_header    Connection          $connection_upgrade;
        proxy_set_header    Upgrade             $http_upgrade;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;

        auth_basic "Are you a VJ?";
        auth_basic_user_file /etc/nginx/htpasswd;
      }

      location ~ ^/(health|version) {
        proxy_pass          http://127.0.0.1:5000;
        proxy_http_version  1.1;

        proxy_set_header    Connection          $connection_upgrade;
        proxy_set_header    Upgrade             $http_upgrade;
        proxy_set_header    Host                $host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
      }

  /tmp/deployment/nginx_basic_auth_staging:
    mode: "000755"
    content: |
      if ! grep -q "auth_basic" /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf; then
        cat /tmp/deployment/nginx_basic_auth_location >> /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf
      fi

  /tmp/deployment/nginx_basic_auth:
    mode: "000755"
    content: |
      if ! grep -q "auth_basic" /etc/nginx/conf.d/elasticbeanstalk/00_application.conf; then
        cat /tmp/deployment/nginx_basic_auth_location >> /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      fi

container_commands:
  01nginx_basic_auth_staging:
    command: /tmp/deployment/nginx_basic_auth_staging
    ignoreErrors: true
  02nginx_basic_auth:
    command: /tmp/deployment/nginx_basic_auth
    ignoreErrors: true
  03restart_nginx:
    command: systemctl restart nginx
