.preset-modifier__command-item {
    display              : grid;
    gap                  : 0.2em 0;
    grid-template-columns: min-content auto;
    grid-template-areas  :
        'delete label'
        'delete command';

    & label {
        grid-area: label;
    }

    & .delete-button {
        grid-area: delete;
    }

    & textarea {
        grid-area    : command;
        width        : 100%;
        height       : 3em;
        margin-bottom: 0.7em;
    }
}