.preset-modifier__laser-item {
    margin-bottom        : 0.8em;
    display              : grid;
    gap                  : 0.2em 1em;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-areas  :
        'delete start-label destination-label'
        'delete start-point destination-point';

    & .delete-button {
        grid-area: delete;
    }

    & .start-label {
        grid-area: start-label;
    }

    & .destination-label {
        grid-area: destination-label;
    }

    & .start-point {
        grid-area: start-point;
    }

    & .destination-point {
        grid-area: destination-point;
    }
}