.delete-button {
    cursor : pointer;
    color  : var(--red);
    padding: 0.3em 0.5em 0 0;
    margin : 0 auto;

    &:hover {
        ~label {
            color: var(--red);
        }

        ~input,
        ~.command-input textarea,
        ~select,
        ~.checkbox-container span {
            background-color: var(--darker-red);
        }
    }
}