.preset-modifier__particle-item {
    grid-template-columns: min-content max-content 1fr 2fr max-content min-content;
    grid-template-areas  :
        'delete effect-label         effect-label        regiontype-label    regiontype-label   color-label'
        'delete effect-input         effect-input        regiontype-input    regiontype-input   color-input'
        'delete pointids-label       pointids-label      pointids-label      pointids-label     color-input'
        'delete pointids-input       pointids-input      pointids-input      pointids-input     color-input'
        'delete density-label        density-label       .                   .                  color-input'
        'delete density-number-input density-range-input density-range-input randomize-checkbox color-input'
        'delete equation-label       equation-label      equation-label      equation-label     color-input'
        'delete equation-input       equation-input      equation-input      equation-input     color-input'
        'delete dustsize-label       dustsize-label      dustsize-label      dustsize-label     color-input'
        'delete dustsize-input       dustsize-input      dustsize-input      dustsize-input     color-input'
        'delete material-label       material-label      material-label      material-label     color-input'
        'delete material-input       material-input      material-input      material-input     color-input';

    & label {
        grid-area: label;
    }

    & .delete-button {
        grid-area: delete;
    }

    & .effect-label {
        grid-area: effect-label;
    }

    & .effect-input {
        grid-area: effect-input;
    }

    & .regiontype-label {
        grid-area: regiontype-label;
    }

    & .regiontype-input {
        grid-area: regiontype-input;
    }

    & .pointids-label {
        grid-area: pointids-label;
    }

    & .pointids-input {
        grid-area: pointids-input;
    }

    & .randomize-checkbox {
        grid-area: randomize-checkbox;
    }

    & .density-label {
        grid-area: density-label;
    }

    & .density-number-input {
        grid-area: density-number-input;
    }

    & .density-range-input {
        grid-area: density-range-input;
    }

    & .equation-label {
        grid-area: equation-label;
    }

    & .equation-input {
        grid-area: equation-input;
    }

    & .dustsize-label {
        grid-area: dustsize-label;
    }

    & .dustsize-input {
        grid-area: dustsize-input;
    }

    & .color-label {
        grid-area: color-label;
    }

    & .color-input {
        grid-area: color-input;
    }

    & .material-label {
        grid-area: material-label;
    }

    & .material-input {
        grid-area: material-input;
    }
}