.page {
    display           : grid;
    grid-template-rows: min-content auto min-content;
    position          : fixed;
    width             : 100%;
    height            : 100%;

    & .presetmanager-header {
        display              : grid;
        grid-template-columns: min-content max-content auto;
        gap                  : 1em;
    }

    & .page-header {
        background-color: var(--background);
        padding         : 0.5em 1em;

        & a,
        a:visited {
            color: var(--accent);
        }

        & .nav-button {
            font-size: x-large;
        }

        & .text {
            font-size  : x-large;
            font-weight: lighter;
            margin     : auto;
        }
    }

    & .page-content {
        grid-row  : 2;
        overflow-y: scroll;
    }

    & .page-footer {
        grid-row        : 3;
        width           : 100%;
        background-color: var(--background);

        & .status-bar {
            padding   : 0.3em;
            font-size : smaller;
            text-align: center;
        }
    }
}