.page {
    & .page-header {
        background-color: var(--background);
        padding         : 0.3em;

        display              : grid;
        grid-template-columns: min-content max-content auto min-content;

        & a,
        a:visited {
            color: var(--accent);
        }

        & a:hover {
            color: var(--lighter-accent);
        }

        & .button-left {
            grid-column : 1;
            margin-right: 0.5em;
            font-size   : x-large;
        }

        & .text {
            grid-column : 2;
            margin-right: 0.5em;
            font-size   : x-large;
            font-weight : lighter;
        }

        & .additional-elements {
            grid-column: 3;
        }

        & .button-right {
            grid-column: 4;
            margin-left: 0.5em;
            font-size  : x-large;
        }
    }

    & .page-content {
        margin-bottom: 1.1em;
    }

    & .page-footer {
        position        : fixed;
        bottom          : 0;
        width           : 100%;
        padding         : 0.1em;
        box-sizing      : border-box;
        font-size       : smaller;
        background-color: var(--background);
        text-align      : center;
    }
}