.preset-manager-list-group__container {
    display              : grid;
    gap                  : 0.3em;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    box-sizing           : border-box;
    border               : 1em solid;
    border-top           : none;
}

.preset-manager-list-group__header {
    font-size        : x-large;
    font-weight      : bold;
    font-variant-caps: all-small-caps;
    padding          : 0.4em 1em 0.6em 1em;
    cursor           : pointer;
    display          : block;
}

.Collapsible__trigger {
    @extend .preset-manager-list-group__header;
    padding : 0;
    position: relative;

    & .preset-manager-list-group__header-chevron {
        position  : absolute;
        right     : 1em;
        top       : 0.5em;
        display   : block;
        transition: transform 300ms;
    }

    &.is-open {
        & .preset-manager-list-group__header-chevron {
            transform: rotateZ(180deg);
        }
    }
}