.control-panel__header-controls {
    $button-count: 5;
    $column-count: $button-count * 2;

    display              : grid;
    grid-template-columns: auto repeat($column-count, min-content);
    gap                  : 0 1em;
    font-size            : small;

    @media (max-width: 65rem) {
        grid-template-columns: auto repeat($column-count - 1, min-content);
        grid-template-rows   : repeat(2, min-content);
        gap                  : 0.5em 1em;

        & .bossbar-control {
            grid-column: 1 /span $column-count;
            grid-row   : 2;
            width      : 100%;
        }

        & .separator.first-separator {
            border: none;
        }
    }

    & .separator {
        border-left: 2px solid var(--gray);
    }

    & .header-button {
        color  : var(--accent);
        display: inline-flex;

        & svg {
            margin-right: 0.3em;
        }
    }

    & .capslock-warning {
        grid-column: 1 /span $column-count;
        margin     : 0.2em auto 0 auto;
        color      : var(--red);
        font-size  : x-large;
    }

    & .default-layout-button {
        margin-top: 1em;
        padding   : 0.5em;
        width     : max-content;

        background-color: var(--gray-darker);
        border          : 0.1em solid var(--accent);
        color           : var(--accent);
    }
}