div.control-panel__header-controls {
    display              : grid;
    grid-template-columns: auto repeat(8, min-content);
    gap                  : 0 1em;

    & .separator {
        border-left: 2px solid var(--gray);
    }

    & .header-button {
        color  : var(--accent);
        display: inline-flex;

        & svg {
            margin-right: 0.3em;
        }
    }
}