.control-panel__header-controls {
    display              : grid;
    grid-template-columns: auto repeat(8, min-content);
    gap                  : 0 1em;

    @media (max-width: 65rem) {
        display              : grid;
        grid-template-columns: auto repeat(7, min-content);
        grid-template-rows   : repeat(2, min-content);
        gap                  : 0.5em 1em;

        & .bossbar-control {
            grid-column: 1 /span 8;
            grid-row   : 2;
            width      : 100%;
        }

        & .separator.first-separator {
            border: none;
        }
    }

    & .separator {
        border-left: 2px solid var(--gray);
    }

    & .header-button {
        color  : var(--accent);
        display: inline-flex;

        & svg {
            margin-right: 0.3em;
        }
    }

    & .capslock-warning {
        grid-column: 1 /span 9;
        margin     : 0.2em auto 0 auto;
        color      : var(--red);
        font-size  : x-large;
    }
}