:root {
    --background    : #161616;
    --dark-gray     : #333;
    --darker-gray   : #222;
    --gray          : gray;
    --font          : #dfffff;
    --green         : #44ff66;
    --orange        : #ffaa44;
    --red           : #ff4466;
    --cyan          : #1ba1e2;
    --magenta       : #d80073;
    --darker-magenta: #52002c;
    --darker-cyan   : #0b3c55;
}

body {
    background-color: var(--background);
    color           : var(--font);
    font-family     : sans-serif;
}

/* ================ MAIN CONTROLS ================ */
.controls-holder {
    text-align: center;
}

.visual-control {
    display: inline-block;
    width  : min-content;
    padding: 0.1em;
}

.control-option {
    margin-top: 1em;
}

.controls-header {
    writing-mode: vertical-lr;
    float       : left;

    font-size   : x-large;
    font-variant: small-caps;
}

.cyan {
    color: var(--cyan);
}

.magenta {
    color: var(--magenta);
}

hr {
    border       : none;
    border-bottom: 2px dashed var(--gray);
}

/* ================ BUTTONS ================ */
button {
    margin-top: 0.5em;
    width     : 100%;
    padding   : 1em 0.8em;
    cursor    : pointer;

    background-color: var(--dark-gray);
    font-size       : 1em;
    font-variant    : small-caps;
}

button.start {
    color : var(--green);
    border: 2px solid var(--green);
}

button.stop {
    color : var(--red);
    border: 2px solid var(--red);
}

button.restart {
    color : var(--orange);
    border: 2px solid var(--orange);
}

button.trigger {
    color : var(--cyan);
    border: 2px solid var(--cyan);
}

button.cyan {
    color           : var(--font);
    background-color: var(--cyan);
    border          : 2px solid var(--cyan);
}

button.magenta {
    color           : var(--font);
    background-color: var(--magenta);
    border          : 2px solid var(--magenta);
}

button.darker-cyan {
    color           : var(--font);
    background-color: var(--darker-cyan);
    border          : 2px solid var(--darker-cyan);
}

button.disabled {
    background-color: var(--background);
    color           : var(--gray);
    border          : 2px solid var(--dark-gray);
    cursor          : not-allowed;
}

/* ================ FOOTER ================ */
.footer {
    position: absolute;
    bottom  : 0.5em;
    right   : 0.5em;
    left    : 0.5em;

    display              : grid;
    grid-template-columns: auto min-content min-content min-content;
}

#log-window {
    height    : 10em;
    padding   : 0.3em;
    overflow-y: scroll;
    border    : 2px solid var(--gray);
}

#status-window {
    white-space: nowrap;
    padding    : 0 1em;
}

.master-controls {
    padding    : 0 1em;
    border-left: 2px dashed var(--gray);
    width      : min-content;
}

.log-message {
    display: block;
}

.success {
    color: var(--green);
}

.failure {
    color: var(--red);
}

/* ================ PRESET MANAGER ================ */
.preset-table {
    width           : 100%;
    background-color: var(--dark-gray);
    border-collapse : collapse;
}

.preset-table thead {
    background-color: var(--background);
    color           : var(--font);
    font-variant    : small-caps;
    font-weight     : bold;
    font-size       : large;
}

.preset-table thead td {
    padding: 1em 0.5em;
}

.preset-table td {
    padding: 0.3em 0.5em;
}

.preset-table tr:nth-child(2n+2) {
    background-color: var(--darker-gray);
}

td.type-header {
    font-variant: small-caps;
    font-weight : bold;
    text-align  : center;
    padding     : 0.5em;
}

.type-header-cyan {
    background-color: var(--cyan);
    color           : var(--darker-cyan);
}

.type-header-magenta {
    background-color: var(--magenta);
    color           : var(--darker-magenta);
}

.id-column {
    font-size: x-small;
}

.effects-column {
    display              : grid;
    grid-template-columns: min-content auto auto auto;
    white-space          : nowrap;
}

.actions-column {
    font-size  : x-large;
    white-space: nowrap;
}

.actions-column span {
    cursor: pointer;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}
