:root {
    --background      : #121212;
    --background2     : #131313;
    --background3     : #111111;
    --background-alpha: #000000e0;
    --dark-gray       : #333;
    --darker-gray     : #222;
    --gray            : #888;
    --font            : #dfffff;
    --font-alpha      : #dfffff20;

    --green        : #0eaf2c;
    --green-alpha  : #0eaf2c20;
    --orange       : #f56200;
    --orange-alpha : #f5620020;
    --red          : #ec2323;
    --teal         : #00aba9;
    --indigo       : #6a00ff;
    --indigo-alpha : #6a00ff20;
    --cyan         : #1ba1e2;
    --cyan-alpha   : #1ba1e220;
    --magenta      : #b90383;
    --magenta-alpha: #b9038320;
    --steel        : #647687;
    --steel-alpha  : #64768720;

    --darker-magenta: #52002c;
    --darker-cyan   : #0b3c55;
    --darker-teal   : #004948;
}

body {
    background-color: var(--background);
    color           : var(--font);
    font-family     : sans-serif;
    font-size       : 0.8em;
    padding         : 0;
    margin          : 0;

    background-image   : linear-gradient(30deg, var(--background2) 12%, transparent 12.5%, transparent 87%, var(--background2) 87.5%, var(--background2)), linear-gradient(150deg, var(--background2) 12%, transparent 12.5%, transparent 87%, var(--background2) 87.5%, var(--background2)), linear-gradient(30deg, var(--background2) 12%, transparent 12.5%, transparent 87%, var(--background2) 87.5%, var(--background2)), linear-gradient(150deg, var(--background2) 12%, transparent 12.5%, transparent 87%, var(--background2) 87.5%, var(--background2)), linear-gradient(60deg, var(--background3) 25%, transparent 25.5%, transparent 75%, var(--background3) 75%, var(--background3)), linear-gradient(60deg, var(--background3) 25%, transparent 25.5%, transparent 75%, var(--background3) 75%, var(--background3));
    background-size    : 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

/* ================ MAIN CONTROLS ================ */
.main-controls-holder {
    display: grid;

    grid-template-columns: 55% 10% 35%;

    grid-template-areas:
        'particle potion  potion'
        'particle dragon  dragon'
        'particle laser   laser'
        'command  command timeshift';

    padding-top   : 2.9em;
    padding-bottom: 11.9em;
}

.controls-holder {
    text-align: center;
    padding   : 1em;
}

.controls-header {
    float       : left;
    writing-mode: vertical-lr;

    font-size   : x-large;
    font-variant: small-caps;
}

.particle-controls {
    grid-area       : particle;
    background-color: var(--cyan-alpha);
}

.dragon-controls {
    grid-area       : dragon;
    background-color: var(--magenta-alpha);
}

.laser-controls {
    grid-area       : laser;
    background-color: var(--indigo-alpha);
}

.timeshift-controls {
    grid-area       : timeshift;
    background-color: var(--orange-alpha);
}

.potion-controls {
    grid-area       : potion;
    background-color: var(--green-alpha);
}

.command-controls {
    grid-area       : command;
    background-color: var(--steel-alpha);
}

.controls-divider {
    grid-area: divider;
}

.visual-control {
    display      : inline-block;
    width        : min-content;
    padding      : 0.1em;
    margin-bottom: 0.5em;
}

.control-option {
    margin-top: 1em;
}

span.cyan {
    color: var(--cyan);
}

span.magenta {
    color: var(--magenta);
}

span.indigo {
    color: var(--indigo);
}

span.orange {
    color: var(--orange);
}

span.green {
    color: var(--green);
}

span.steel {
    color: var(--steel);
}

hr {
    border       : none;
    border-bottom: 2px dashed var(--gray);
}

/* ================ BUTTONS ================ */
button {
    margin-top: 0.5em;
    width     : 100%;
    padding   : 0.5em 1.5em;
    cursor    : pointer;

    color           : var(--font);
    background-color: var(--darker-gray);
    font-variant    : small-caps;
}

button.start {
    color     : var(--green);
    border    : none;
    box-shadow: 0 0 0.3em var(--green);
}

.keyboard-shortcut {
    font-variant: normal;
    font-size   : larger;
    line-height : 0;
    font-family : 'Consolas', 'Courier New', Courier, monospace;
}

button.stop {
    color     : var(--red);
    border    : none;
    box-shadow: 0 0 0.3em var(--red);
}

#stop-everything-button {
    grid-column: 1 / span 2;

    color     : var(--red);
    border    : none;
    box-shadow: 0 0 0.3em var(--red);
}

#stop-all-effects-button {
    color     : var(--orange);
    border    : none;
    box-shadow: 0 0 0.3em var(--orange);
}

#detach-all-button {
    color     : var(--orange);
    border    : none;
    box-shadow: 0 0 0.3em var(--orange);
}

button.restart {
    color     : var(--orange);
    border    : none;
    box-shadow: 0 0 0.3em var(--orange);
}

button.trigger {
    color     : var(--cyan);
    border    : none;
    box-shadow: 0 0 0.3em var(--cyan);
}

.clock-buttons {
    margin-top           : 0.5em;
    display              : grid;
    grid-template-columns: 50% 50%;
}

i.clock {
    color: var(--gray);
}

i.clock-attached {
    color      : var(--font);
    text-shadow: 0 0 0.3em var(--gray);
}

button.cyan {
    background-color: var(--cyan);
    border          : 2px solid var(--cyan);
}

button.magenta {
    background-color: var(--magenta);
    border          : 2px solid var(--magenta);
}

button.indigo {
    background-color: var(--indigo);
    border          : 2px solid var(--indigo);
}

button.darker-teal {
    background-color: var(--darker-teal);
    border          : 2px solid var(--darker-teal);
}

button.orange {
    background-color: var(--orange);
    border          : 2px solid var(--orange);
}

button.green {
    background-color: var(--green);
    border          : 2px solid var(--green);
}

button.steel {
    background-color: var(--steel);
    border          : 2px solid var(--steel);
}

button.darker-cyan {
    background-color: var(--darker-cyan);
    border          : 2px solid var(--darker-cyan);
}

button.disabled {
    background-color: var(--background);
    color           : var(--gray);
    cursor          : not-allowed;
}

/* ================ HEADER ================ */
.header {
    position: fixed;
    top     : 0em;
    right   : 0em;
    left    : 0em;

    padding              : 0.3em;
    display              : grid;
    gap                  : 0 1em;
    grid-template-columns: auto auto min-content min-content min-content;
    grid-template-rows   : auto auto;
    grid-template-areas  :
        'bossbar command stageselect serverselect presetmanager'
        'caps    caps    caps        caps         caps         ';

    background-color: var(--background-alpha);
}

.header input[type=text] {
    width     : 100%;
    box-sizing: border-box;
}

button.header-button {
    margin : unset;
    height : 100%;
    padding: unset;
    width  : 100%;

    background-color: var(--darker-teal);
    border          : 2px solid var(--darker-teal);
}

.header-title {
    font-size   : large;
    font-variant: small-caps;
    display     : inline-block;
    margin      : auto 0;

    border-left : 0.2em solid var(--teal);
    padding-left: 0.2em;

    color: var(--teal);
}

.header-icon {
    color: var(--teal);
}

.popup {
    position: relative;
    display : inline-block;
}

.popup .popup-content {
    visibility: hidden;

    position: absolute;
    top     : 150%;
    z-index : 1;

    padding         : 1em;
    background-color: var(--background);
    border-radius   : 1em;
}

.popup .show {
    visibility: visible;
}

/* Bossbar Control */
#header-bossbar-control {
    grid-area: bossbar;
}

#bossbar-form {
    display              : grid;
    gap                  : 0 0.5em;
    grid-template-columns: max-content auto min-content 5em 5em min-content;
}

.bossbar-formatting-group {
    height               : min-content;
    display              : grid;
    grid-template-columns: max-content max-content;
    gap                  : 1em;
}

.bossbar-formatting-group span:nth-of-type(even) {
    cursor: pointer;
}

/* Command Control */
#header-command-control {
    grid-area: command;
}

#command-form {
    display              : grid;
    gap                  : 0 0.5em;
    grid-template-columns: max-content auto 5em;
}

/* Stage Select Control */
#header-stageselect-control {
    grid-area            : stageselect;
    display              : grid;
    gap                  : 0 0.5em;
    grid-template-columns: max-content min-content;
}

/* Server Select Control */
#header-serverselect-control {
    grid-area            : serverselect;
    display              : grid;
    gap                  : 0 0.5em;
    grid-template-columns: max-content min-content;

    cursor: pointer;
}

.server-manager-popup {
    float: right;
}

.server-manager-popup .popup-content {
    right: 1em;
}

.server-manager-group {
    height               : min-content;
    display              : grid;
    grid-template-columns: max-content max-content;
    gap                  : 1em;
}

/* Preset Manager Control */
#header-presetmanager-control {
    grid-area            : presetmanager;
    display              : grid;
    gap                  : 0 0.5em;
    grid-template-columns: max-content min-content;

    cursor: pointer;
}

/* Capslock Warning Control */
#header-caps-control {
    grid-area: caps;
}

#caps-warning {
    display: none;

    padding    : 0.5em;
    width      : 100%;
    text-align : center;
    font-size  : x-large;
    font-weight: bold;
    color      : var(--red);
}

/* ================ FOOTER ================ */
.footer {
    position: fixed;
    bottom  : 0em;
    right   : 0em;
    left    : 0em;
    padding : 0.5em;

    display              : grid;
    grid-template-columns: auto 25em max-content min-content;
    gap                  : 1em;

    background-color: var(--background-alpha);
}

.log-pane {
    position: relative;
}

.clear-logs-button {
    position: absolute;
    top     : 0.2em;
    right   : 1em;

    color : var(--font-alpha);
    cursor: pointer;
}

#log-window {
    height    : 10em;
    padding   : 0.3em;
    overflow-y: scroll;
    border    : 2px solid var(--gray);
}

h3 {
    margin-top   : 0;
    margin-bottom: 0.2em;
}

#clock-holder {
    display              : grid;
    grid-template-columns: min-content auto min-content;
    grid-template-areas  :
        'title  title  title'
        'ticker ticker ticker'
        'bpm    slider divider'
        'tap    tap    tap';
}

#clock-title {
    grid-area: title;
}

#clock-indicator {
    grid-area: ticker;

    text-align   : center;
    width        : 100%;
    height       : 1em;
    margin-bottom: 0.5em;
}

#clock-bpm-input {
    grid-area: bpm;
}

#clock-bpm-range {
    grid-area: slider
}

#clock-th-input {
    grid-area: divider;
}

#clock-tap-button {
    grid-area: tap
}

.clock-indicator-on {
    background-color: var(--font);
    color           : var(--background);
}

#status-window {
    white-space: nowrap;
    padding    : 0 1em;
    border-left: 2px dashed var(--gray);
}

.footer-buttons {
    display              : grid;
    grid-template-columns: repeat(6, max-content);
    gap                  : 1em;

    grid-column: 2 / span 2;
}

.main-controls {
    text-align : center;
    padding    : 0 1em;
    border-left: 2px dashed var(--gray);

    display              : grid;
    grid-template-columns: 50% 50%;
    gap                  : 0em 0.5em;
}

.primary-button {
    text-align : center;
    padding    : 0 1em;
    border-left: 2px dashed var(--gray);
}

.log-message {
    display: block;
}

.success {
    color: var(--green);
}

.failure {
    color: var(--red);
}

.info-message {
    color: var(--cyan);
}

/* ================ PRESET MANAGER ================ */
.preset-table {
    max-width       : 120em;
    min-width       : 50%;
    margin-left     : auto;
    margin-right    : auto;
    background-color: var(--dark-gray);
    border-collapse : collapse;
    margin-bottom   : 10em;
}

.preset-table thead {
    background-color: var(--background);
    color           : var(--font);
    font-variant    : small-caps;
    font-weight     : bold;
    font-size       : large;
}

.preset-table thead td {
    padding      : 1em 0.5em;
    border-top   : 2px solid var(--font);
    border-bottom: 2px solid var(--font);
}

.preset-table td {
    padding: 0.3em 0.5em;
}

.preset-table tr:nth-child(2n+2) {
    background-color: var(--darker-gray);
}

td.type-header {
    font-variant    : small-caps;
    font-weight     : bold;
    text-align      : center;
    padding         : 0.5em;
    background-color: var(--background);
}

.type-header-cyan {
    color        : var(--cyan);
    border-bottom: 2px solid var(--cyan);
}

.type-header-magenta {
    color        : var(--magenta);
    border-bottom: 2px solid var(--magenta);
}

.type-header-indigo {
    color        : var(--indigo);
    border-bottom: 2px solid var(--indigo);
}

.type-header-orange {
    color        : var(--orange);
    border-bottom: 2px solid var(--orange);
}

.type-header-green {
    color        : var(--green);
    border-bottom: 2px solid var(--green);
}

.type-header-steel {
    color        : var(--steel);
    border-bottom: 2px solid var(--steel);
}

.id-column {
    font-size: x-small;
}

.key-column {
    font-size : larger;
    text-align: center;
}

.description-column {
    width: 12em;
}

.effects-column {
    display              : grid;
    grid-template-columns: min-content 15em 7em 15em;
    gap                  : 0 1em;
}

.span-effects-column {
    grid-column: 2 / span 3;
}

.actions-column {
    white-space: nowrap;
}

.actions-column i {
    cursor     : pointer;
    margin-left: 0.5em;
}

i.fa-trash-alt {
    color: var(--red);
}

i.fa-clone {
    color: var(--teal);
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

/* ================ PRESET MUTATION ================ */
.preset-edit-main {
    margin-left  : auto;
    margin-right : auto;
    max-width    : 80em;
    min-width    : 50%;
    margin-bottom: 10em;
}

#preset-form {
    display              : grid;
    grid-template-columns: min-content auto;
}

.input-range-combo {
    display              : grid;
    grid-template-columns: min-content auto;
}

input[type=text],
input[type=number],
textarea,
select {
    color           : var(--font);
    padding         : 0.5em;
    border          : none;
    background-color: var(--dark-gray);
}

.option-description {
    font-style: italic;
}

label {
    grid-column  : 1;
    white-space  : nowrap;
    padding-right: 1em;
}

.effect-box {
    padding              : 1em;
    grid-column          : 2;
    display              : grid;
    grid-template-columns: min-content auto;
}

.effect-box:nth-of-type(even) {
    background-color: var(--darker-gray);
}

.armor-stand {
    position: relative;
    width   : 0;
    height  : 0;
}

.delete-effect {
    position: absolute;
    left    : -2.5em;
    cursor  : pointer;
}

.add-effect {
    margin : 1em auto 0 auto;
    padding: 1em;
    width  : min-content;
    color  : var(--green);
    cursor : pointer;
}