.preset-modifier__potion-item {
    grid-template-columns: min-content auto max-content;
    grid-template-areas  :
        'delete type-label amplifier-label'
        'delete type       amplifier-input';

    & .delete-button {
        grid-area: delete;
    }

    & .type-label {
        grid-area: type-label;
    }

    & select {
        grid-area: type;
    }

    & .amplifier-label {
        grid-area: amplifier-label;
    }

    & .amplifier-input {
        grid-area: amplifier-input;
    }
}