.preset-modifier__timeshift-item {
    margin-bottom        : 0.8em;
    display              : grid;
    gap                  : 0.2em 1em;
    grid-template-columns: min-content min-content auto;
    grid-template-areas  :
        'delete label   label'
        'delete number  range';

    & label {
        grid-area: label;
    }

    & .delete-button {
        grid-area: delete;
    }

    & input[type=number] {
        grid-area: number;
    }

    & input[type=range] {
        grid-area: range;
    }
}