.preset-modifier__timeshift-item {
    grid-template-columns: min-content max-content auto;
    grid-template-areas  :
        'delete label   label'
        'delete number  range';

    & label {
        grid-area: label;
    }

    & .delete-button {
        grid-area: delete;
    }

    & input[type=number] {
        grid-area: number;
    }

    & input[type=range] {
        grid-area: range;
    }
}