.preset-manager-list-item__container {
    padding         : 0.5em;
    background-color: var(--background-alpha2);

    display              : grid;
    gap                  : 0.2em;
    grid-template-columns: min-content auto min-content min-content;
    grid-template-rows   : max-content auto auto min-content;
    grid-template-areas  :
        'edit name        shortcut actions'
        'edit summary     shortcut actions'
        'edit description shortcut actions'
        'edit id          shortcut actions';

    & .edit-preset {
        grid-area: edit;
        cursor   : pointer;
        margin   : 0 0.5em 0.5em 0;

        &:hover {
            color: var(--font) !important;
        }
    }

    & .display-name {
        grid-area  : name;
        font-weight: bold;
    }

    & .description {
        grid-area: description;
        font-size: small;

        & span {
            margin: 0 0.5em;
        }
    }

    & .shortcut {
        grid-area       : shortcut;
        font-size       : larger;
        border          : 1px solid var(--darker-accent-alpha);
        background-color: var(--background-alpha3);
        border-radius   : 0.5em;
        margin          : auto;
        height          : 2em;
        width           : 2em;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    & .summary {
        grid-area: summary;
        font-size: small;
    }

    & .id {
        grid-area: id;
        font-size: x-small;
        color    : var(--gray);
    }

    & .actions {
        grid-area: actions;
        margin   : auto 0 auto 1.5em;

        & .duplicate-preset {
            cursor       : pointer;
            color        : var(--accent);
            margin-bottom: 0.5em;

            &:hover {
                color: var(--lighter-accent);
            }
        }

        & .delete-preset {
            cursor: pointer;
            color : var(--red);

            &:hover {
                color: var(--lighter-red);
            }
        }
    }

}

.preset-manager-list-item__add-new {
    background-color: var(--background-alpha);
    cursor          : pointer;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 1em;
}