div.control-panel__visual-control {
    display      : inline-block;
    width        : min-content;
    padding      : 0.1em;
    margin-bottom: 0.2em;

    font-size : 0.8em;
    text-align: center;
}