<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="steel">{{.DisplayName}} </span> Command Preset
        </h1>
        <form id="preset-form" method="POST" action="/presets/command-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .Commands}}
            <div class="effect-box" data-index="{{$index}}">
                <span class="armor-stand">
                    <i class="delete-effect far fa-trash-alt fa-lg" onclick='removeEffectInput(this);'></i>
                </span>
                <label>Command</label>
                <input class="indexed-input" name="command[{{$index}}]" type="text" placeholder="smite Mat_Zo"
                    value="{{.}}" />
                <br />
            </div>
            <br />
            {{end}}
        </form>
        <div class="add-effect"><i class="fas fa-plus fa-3x" onclick='addEffectInput();'></i></div>
    </div>

    <div class="footer">
        <div></div>
        <button id="test-button" class="darker-teal" type="button" onclick='doTestPreset();'>Test</button>
        <button class="cyan" type="button" onclick='document.getElementById("preset-form").submit();'>Save</button>
        <div class="primary-button">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>
