<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="indigo">{{.DisplayName}} </span> Laser Preset</h1>
        <form id="preset-form" method="POST" action="/presets/laser-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label id="laser-type-flag">End Laser</label>
            <input type="checkbox" name="isEndLaser" onchange="handleLaserTypeChecked(this.checked)"
                {{if .IsEndLaser}}checked{{end}} />
            <br />

            <label id="laser-targeting-flag">Connects the two points specified</label>
            <input type="checkbox" id="laser-targeting-checkbox" name="isNonPlayerTargeting"
                onchange="handleTargetingChecked(this.checked)" {{if .IsNonPlayerTargeting}}checked{{end}}
                {{if .IsEndLaser}}disabled{{end}} />
            <br />

            <label>Effects</label>
            {{$current := .}}
            {{range $index, $element := .LaserEffects}}
            <div class="effect-box" data-index="{{$index}}">
                <span class="armor-stand">
                    <i class="delete-effect far fa-trash-alt fa-lg" onclick='removeEffectInput(this);'></i>
                </span>
                <br />

                <label>Origin Point ID</label>
                <input class="indexed-input" name="effect[{{$index}}].startPointId" type="number"
                    value="{{.StartPointID}}" />
                <br />

                {{if $current.IsNonPlayerTargeting}}
                <label class="destination-point-label">Destination Point ID</label>
                <input class="indexed-input destination-point-input" name="effect[{{$index}}].endPointId" type="number"
                    value="{{.EndPointID}}" />
                <br />
                {{end}}
            </div>
            {{end}}
        </form>
        <div class="add-effect"><i class="fas fa-plus fa-3x" onclick='addEffectInput();'></i></div>
    </div>

    <div class="footer">
        <div></div>
        <button id="test-button" class="darker-teal" type="button" onclick='doTestPreset();'>Test (3 seconds)</button>
        <button class="cyan" type="button" onclick='document.getElementById("preset-form").submit();'>Save</button>
        <div class="primary-button">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>
