<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="cyan">{{.DisplayName}} </span> Particle Effect
            Preset</h1>
        <form class="preset-form" id="particle-preset-form" method="POST" action="/presets/particle-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .ParticleEffects}}
            <div class="effect-box">
                <span class="armor-stand">
                    <span class="delete-effect" onclick='removeEffectInput(this);'>🗑</span>
                </span>
                <label>Minecraft Particle Name</label>
                <select class="indexed-input" name="effect[{{$index}}].name">
                    {{$current := .Name}}
                    {{range $.UIAllowedParticleEffects}}
                    <option value="{{.}}" {{if eq $current .}}selected{{end}}>{{.}}</option>
                    {{end}}
                </select>
                <br />

                <label>Display Region Type</label>
                <select class="indexed-input" name="effect[{{$index}}].regionType">
                    {{$current := .UIRegionRegionType}}
                    {{range $.UIAllowedRegionTypes}}
                    <option value="{{.Name}}" {{if eq $current .Name}}selected{{end}}>{{.Name}}</option>
                    <option class="option-description" disabled>&nbsp;&nbsp;└─ {{.Description}}</option>
                    {{end}}
                </select>
                <br />

                <label>Comma-separated list of point IDs</label>
                <input class="indexed-input" name="effect[{{$index}}].pointIds" type="text" placeholder="0,1,2"
                    value="{{.UIRegionPointIDs}}" />
                <br />

                <label>Randomize particles in the cuboid</label>
                <input class="indexed-input" name="effect[{{$index}}].randomize" type="checkbox"
                    {{if .UIRegionRandomize}}checked{{end}} />
                <br />

                <label>Particle density in the cuboid</label>
                <input class="indexed-input" name="effect[{{$index}}].density" type="range" max="100" min="1" step="1"
                    value="{{.UIRegionDensity}}" />
                <br />

                <label>Shape equation</label>
                <input class="indexed-input" name="effect[{{$index}}].equation" type="text"
                    placeholder="1-abs(x+y)-abs(y-x)" value="{{.UIRegionEquation}}" />

                <hr />
            </div>
            {{end}}
        </form>
        <div class="add-effect" onclick='addEffectInput("particle-preset-form");'>+</div>
    </div>

    <div class="footer">
        <div></div>
        <div></div>
        <button class="cyan" type="button"
            onclick='document.getElementById("particle-preset-form").submit();'>Save</button>
        <div class="master-controls">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>