<!doctype html>
<html>

{{template "headerPresetmanager"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="cyan">{{.DisplayName}} </span> Particle Effect
            Preset</h1>
        <form id="preset-form" method="POST" action="/presets/particle-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .ParticleEffects}}
            <div class="effect-box" data-index="{{$index}}">
                <span class="armor-stand">
                    <i class="delete-effect far fa-trash-alt fa-lg" onclick='removeEffectInput(this);'></i>
                </span>
                <label>Minecraft Particle Name</label>
                <select class="indexed-input" name="effect[{{$index}}].name">
                    {{$current := .Name}}
                    {{range $.UIAllowedParticleEffects}}
                    <option value="{{.}}" {{if eq $current .}}selected{{end}}>{{.}}</option>
                    {{end}}
                </select>
                <br />

                <label>Display Region Type</label>
                <select class="indexed-input" name="effect[{{$index}}].regionType">
                    {{$current := .UIRegionRegionType}}
                    {{range $.UIAllowedRegionTypes}}
                    <option value="{{.Name}}" {{if eq $current .Name}}selected{{end}}>{{.Name}}</option>
                    <option class="option-description" disabled>&nbsp;&nbsp;└─ {{.Description}}</option>
                    {{end}}
                </select>
                <br />

                <label>Comma-separated list of point IDs</label>
                <input class="indexed-input" name="effect[{{$index}}].pointIds" type="text" placeholder="0,1,2"
                    value="{{.UIRegionPointIDs}}" />
                <br />

                <label>Randomize particles in the cuboid</label>
                <input class="indexed-input" name="effect[{{$index}}].randomize" type="checkbox"
                    {{if .UIRegionRandomize}}checked{{end}} />
                <br />

                <label>Particle density in the cuboid</label>
                <div class="input-range-combo">
                    <input type="number" max="100" min="1" step="0.1" value="{{.UIRegionDensity}}" class="indexed-input"
                        id="particle-density-{{$index}}" data-index="{{$index}}"
                        oninput='updateRangeValue("particle-density-range", this);' />
                    <input type="range" max="100" min="1" step="0.1" value="{{.UIRegionDensity}}" class="indexed-input"
                        id="particle-density-range-{{$index}}" data-index="{{$index}}" name="effect[{{$index}}].density"
                        oninput='updateRangeValue("particle-density", this);' />
                </div>
                <br />

                <label>Shape equation</label>
                <input class="indexed-input" name="effect[{{$index}}].equation" type="text"
                    placeholder="1-abs(x+y)-abs(y-x)" value="{{.UIRegionEquation}}" />
            </div>
            {{end}}
        </form>
        <div class="add-effect"><i class="fas fa-plus fa-3x" onclick='addEffectInput();'></i></div>
    </div>

    <div class="footer">
        <div></div>
        <button id="test-button" class="darker-teal" type="button" onclick='doTestPreset();'>Test (3 seconds)</button>
        <button class="cyan" type="button" onclick='document.getElementById("preset-form").submit();'>Save</button>
        <div class="primary-button">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>
