<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="green">{{.DisplayName}} </span> Potion Preset
        </h1>
        <form class="preset-form" id="potion-preset-form" method="POST" action="/presets/potion-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .PotionEffects}}
            <div class="effect-box">
                <span class="armor-stand">
                    <span class="delete-effect" onclick='removeEffectInput(this);'>🗑</span>
                </span>

                <label>Type</label>
                <select class="indexed-input" name="effect[{{$index}}].type">
                    {{$current := .Type}}
                    {{range $.UIAllowedPotionEffects}}
                    <option value="{{.Name}}" {{if eq $current .Name}}selected{{end}}>{{.Name}}</option>
                    <option class="option-description" disabled>&nbsp;&nbsp;└─ {{.Description}}</option>
                    {{end}}
                </select>
                <br />

                <label>Amplifier: <span class="indexed-input"
                        id="potion-amplifier-{{$index}}">{{.Amplifier}}</span></label>
                <input class="indexed-input" name="effect[{{$index}}].amplifier" data-index="{{$index}}" type="range"
                    max="255" min="1" step="1" placeholder="1" value="{{.Amplifier}}"
                    oninput='updateRangeValue("potion-amplifier", this);' />
                <br />
            </div>
            <br />
            {{end}}
        </form>
        <div class="add-effect" onclick='addEffectInput("potion-preset-form");'>+</div>
    </div>

    <div class="footer">
        <div></div>
        <div></div>
        <button class="cyan" type="button"
            onclick='document.getElementById("potion-preset-form").submit();'>Save</button>
        <div class="master-controls">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>