<!doctype html>
<html>

{{template "header"}}

<body>
    <table class="preset-table">
        <thead>
            <td>ID</td>
            <td>Key</td>
            <td>Name</td>
            <td>Description</td>
            <td>Effects</td>
            <td>Actions</td>
        </thead>
        <tr>
            <td colspan="6" class="type-header type-header-cyan">Particle Effect Presets</td>
        </tr>
        {{range .ParticleEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="cyan">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .ParticleEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{.Name}}</span>
                <span>{{.Region.RegionType}}</span>
                <span class="code">{{.Region.PointIDs}}</span>
                {{end}}
            </td>
            <td class="actions-column">
                <span class="delete-action" onclick='confirmDelete("{{.ID}}", "particle", "{{.DisplayName}}")'>🗑</span>
                <span class="edit-action" onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/modify/{{.ID}}");'>🖉</span>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-magenta">Dragon Effect Presets</td>
        </tr>
        {{range .DragonEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="magenta">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .DragonEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span></span>
                <span>{{if .Static}}STATIC{{else}}MOVING UP{{end}}</span>
                <span class="code">[{{.PointID}}]</span>
                {{end}}
            </td>
            <td class="actions-column">
                <span class="delete-action" onclick='confirmDelete("{{.ID}}", "dragon", "{{.DisplayName}}")'>🗑</span>
                <span class="edit-action" onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/modify/{{.ID}}");'>🖉</span>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-orange">Timeshift Effect Presets</td>
        </tr>
        {{range .TimeshiftEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="orange">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .TimeshiftEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span>{{.UIPercentOfDayToSkipPerSecond}}%</span>
                <span></span>
                <span></span>
                {{end}}
            </td>
            <td class="actions-column">
                <span class="delete-action"
                    onclick='confirmDelete("{{.ID}}", "timeshift", "{{.DisplayName}}")'>🗑</span>
                <span class="edit-action" onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/modify/{{.ID}}");'>🖉</span>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-green">Potion Effect Presets</td>
        </tr>
        {{range .PotionEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="green">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td>{{.Description}}</td>
            <td class="effects-column">
                {{range .PotionEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{.Type}}</span>
                <span>{{.Amplifier}}</span>
                <span></span>
                {{end}}
            </td>
            <td class="actions-column">
                <span class="delete-action" onclick='confirmDelete("{{.ID}}", "potion", "{{.DisplayName}}")'>🗑</span>
                <span class="edit-action" onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/modify/{{.ID}}");'>🖉</span>
            </td>
        </tr>
        {{end}}
    </table>

    <div class="footer">
        <div></div>
        <div class="footer-buttons">
            <button class="cyan" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/new");'>New&nbsp;Particle
                Effect&nbsp;Preset</button>
            <button class="magenta" type="button" onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/new");'>New&nbsp;Dragon
                Effect&nbsp;Preset</button>
            <button class="orange" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/new");'>New&nbsp;Timeshift
                Effect&nbsp;Preset</button>
            <button class="green" type="button" onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/new");'>New&nbsp;Potion
                Effect&nbsp;Preset</button>
        </div>
        <div class="master-controls">
            <button class="darker-cyan" type="button" onclick='navigate(CP_ENDPOINT);'>Back&nbsp;to
                Control&nbsp;Panel</button>
        </div>
    </div>
</body>

</html>