<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-overview">
        <div class="preset-overview-type-header type-header-cyan">Particle Effect Presets</div>
        <div class="preset-overview-type-container">
            {{range .ParticleEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects sliver-effects-particle">
                    {{range .ParticleEffects}}
                    <div class="code">• {{.Name}}</div>
                    <div class="code">{{.Region.RegionType}}</div>
                    <div class="code sliver-point-ids">{{.Region.PointIDs}}</div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg"
                        onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "particle");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "particle", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>
        <div class="preset-overview-type-header type-header-magenta">Dragon Effect Presets</div>
        <div class="preset-overview-type-container">
            {{range .DragonEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects sliver-effects-dragon">
                    {{range .DragonEffects}}
                    <div class="code">• {{if .Static}}STATIC{{else}}MOVING UP{{end}}</div>
                    <div class="code sliver-point-ids">[{{.PointID}}]</div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "dragon");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "dragon", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>
        <div class="preset-overview-type-header type-header-indigo">Laser Effect Presets</div>
        <div class="preset-overview-type-container">
            {{range .LaserEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects sliver-effects-laser">
                    <div class="code">
                        • {{if .IsEndLaser}}END LASER{{else}}GUARDIAN LASER{{end}}
                        {{if not .IsNonPlayerTargeting}} (targeting){{end}}
                    </div>
                    {{if not .IsNonPlayerTargeting}}
                    <div class="code sliver-point-ids">
                        {{$prefix := ""}}
                        [{{range .LaserEffects}}{{$prefix}}{{.StartPointID}}{{$prefix = " "}}{{end}}]
                    </div>
                    {{else}}
                    <div class="code sliver-point-ids">
                        {{$prefix := ""}}
                        [{{range .LaserEffects}}{{$prefix}}{{.StartPointID}}→{{.EndPointID}}{{$prefix = " "}}{{end}}]
                    </div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/laser/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "laser");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "laser", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>
        <div class="preset-overview-type-header type-header-orange">Timeshift Effect Presets</div>
        <div class="preset-overview-type-container">
            {{range .TimeshiftEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects">
                    {{range .TimeshiftEffects}}
                    <div class="code">• {{.UIPercentOfDayToSkipPerSecond}}%</div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg"
                        onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "timeshift");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "timeshift", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>
        <div class="preset-overview-type-header type-header-green">Potion Effect Presets</div>
        <div class="preset-overview-type-container">
            {{range .PotionEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects">
                    {{range .PotionEffects}}
                    <div class="code">• {{.Type}} (x{{.Amplifier}})</div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "potion");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "potion", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>
        <div class="preset-overview-type-header type-header-steel">Command Presets</div>
        <div class="preset-overview-type-container">
            {{range .CommandEffectPresets}}
            <div class="preset-overview-sliver">
                {{template "presetOverviewShared" .}}
                <div class="preset-sliver-effects sliver-effects-command">
                    {{range .Commands}}
                    <div class="code">• {{.}}</div>
                    {{end}}
                </div>
                <div class="preset-sliver-actions">
                    <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/command/modify/{{.ID}}");'></i>
                    <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "command");'></i>
                    <i class="far fa-trash-alt fa-lg"
                        onclick='confirmDelete("{{.ID}}", "command", "{{.DisplayName}}")'></i>
                </div>
            </div>
            {{end}}
        </div>

        <div class="footer">
            <div class="footer-buttons">
                <button class="cyan" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/new");'>+&nbsp;Particle</button>
                <button class="magenta" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/new");'>+&nbsp;Dragon</button>
                <button class="indigo" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/laser/new");'>+&nbsp;Laser</button>
                <button class="orange" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/new");'>+&nbsp;Timeshift</button>
                <button class="green" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/new");'>+&nbsp;Potion</button>
                <button class="steel" type="button"
                    onclick='navigate(CP_PRESETS_ENDPOINT+"/command/new");'>+&nbsp;Command</button>
            </div>
            <div class="primary-button">
                <button class="darker-cyan" type="button" onclick='navigate(CP_ENDPOINT);'>Back&nbsp;to
                    Control&nbsp;Panel</button>
            </div>
        </div>
</body>

</html>
