<!doctype html>
<html>

{{template "header"}}

<body>
    <table class="preset-table">
        <thead>
            <td>ID</td>
            <td>Key</td>
            <td>Name</td>
            <td>Description</td>
            <td>Effects</td>
            <td>Actions</td>
        </thead>
        <tr>
            <td colspan="6" class="type-header type-header-cyan">Particle Effect Presets</td>
        </tr>
        {{range .ParticleEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="cyan">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            <td class="effects-column">
                {{range .ParticleEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{.Name}}</span>
                <span>{{.Region.RegionType}}</span>
                <span class="code">{{.Region.PointIDs}}</span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "particle");'></i>
                <i class="far fa-trash-alt fa-lg"
                    onclick='confirmDelete("{{.ID}}", "particle", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-magenta">Dragon Effect Presets</td>
        </tr>
        {{range .DragonEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="magenta">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            <td class="effects-column">
                {{range .DragonEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span></span>
                <span>{{if .Static}}STATIC{{else}}MOVING UP{{end}}</span>
                <span class="code">[{{.PointID}}]</span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "dragon");'></i>
                <i class="far fa-trash-alt fa-lg" onclick='confirmDelete("{{.ID}}", "dragon", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-indigo">Laser Effect Presets</td>
        </tr>
        {{range .LaserEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="indigo">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            {{$current := .}}
            <td class="effects-column">
                {{range .LaserEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{if $current.IsEndLaser}}END LASER{{else}}GUARDIAN LASER{{end}}</span>
                <span>{{if not $current.IsNonPlayerTargeting}}Targeting{{end}}</span>
                <span class="code">[{{.StartPointID}}{{if .EndPointID}} {{.EndPointID}}{{end}}]</span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/laser/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "laser");'></i>
                <i class="far fa-trash-alt fa-lg" onclick='confirmDelete("{{.ID}}", "laser", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-orange">Timeshift Effect Presets</td>
        </tr>
        {{range .TimeshiftEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="orange">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            <td class="effects-column">
                {{range .TimeshiftEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span>{{.UIPercentOfDayToSkipPerSecond}}%</span>
                <span></span>
                <span></span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "timeshift");'></i>
                <i class="far fa-trash-alt fa-lg"
                    onclick='confirmDelete("{{.ID}}", "timeshift", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-green">Potion Effect Presets</td>
        </tr>
        {{range .PotionEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="green">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            <td class="effects-column">
                {{range .PotionEffects}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code">{{.Type}}</span>
                <span>{{.Amplifier}}</span>
                <span></span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "potion");'></i>
                <i class="far fa-trash-alt fa-lg" onclick='confirmDelete("{{.ID}}", "potion", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
        <tr>
            <td colspan="6" class="type-header type-header-steel">Command Presets</td>
        </tr>
        {{range .CommandEffectPresets}}
        <tr>
            <td class="id-column">{{.ID}}</td>
            <td class="key-column"><span class="steel">{{.UIKeyBinding}}</span></td>
            <td>{{.DisplayName}}</td>
            <td class="description-column">{{.Description}}</td>
            <td class="effects-column">
                {{range .Commands}}
                <span>→&nbsp;&nbsp;</span>
                <span class="code span-effects-column">{{.}}</span>
                {{end}}
            </td>
            <td class="actions-column">
                <i class="far fa-edit fa-lg" onclick='navigate(CP_PRESETS_ENDPOINT+"/command/modify/{{.ID}}");'></i>
                <i class="far fa-clone fa-lg" onclick='doDuplicatePreset("{{.ID}}", "command");'></i>
                <i class="far fa-trash-alt fa-lg" onclick='confirmDelete("{{.ID}}", "command", "{{.DisplayName}}")'></i>
            </td>
        </tr>
        {{end}}
    </table>

    <div class="footer">
        <div class="footer-buttons">
            <button class="cyan" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/particle/new");'>+&nbsp;Particle</button>
            <button class="magenta" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/dragon/new");'>+&nbsp;Dragon</button>
            <button class="indigo" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/laser/new");'>+&nbsp;Laser</button>
            <button class="orange" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/timeshift/new");'>+&nbsp;Timeshift</button>
            <button class="green" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/potion/new");'>+&nbsp;Potion</button>
            <button class="steel" type="button"
                onclick='navigate(CP_PRESETS_ENDPOINT+"/command/new");'>+&nbsp;Command</button>
        </div>
        <div class="primary-button">
            <button class="darker-cyan" type="button" onclick='navigate(CP_ENDPOINT);'>Back&nbsp;to
                Control&nbsp;Panel</button>
        </div>
    </div>
</body>

</html>
