{{define "sharedPresetModificationInputs"}}

<input name="id" type="hidden" value="{{.ID}}" />

<label>Display Name</label>
<input name="displayName" type="text" size="10" placeholder="Preset display name" value="{{.DisplayName}}" />
<br />

<label>Description</label>
<input name="description" type="text" size="50" placeholder="Short description" value="{{.Description}}" />
<br />

<label>Keyboard Shortcut</label>
<input type="text" maxlength="1" size="50" value="{{.UIKeyBinding}}" onkeypress='setKeyBinding(event, this);'
    onchange='checkKeyBinding(this)' />
<input id="key-binding" name="keyBinding" type="hidden" value="{{.KeyBinding}}" />
<br />

{{end}}