<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="orange">{{.DisplayName}} </span> Timeshift Preset
        </h1>
        <form id="preset-form" method="POST" action="/presets/timeshift-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .TimeshiftEffects}}
            <div class="effect-box" data-index="{{$index}}">
                <span class="armor-stand">
                    <span class="delete-effect" onclick='removeEffectInput(this);'>🗑</span>
                </span>

                <label>% of Minecraft day<br />to skip per second</label>
                <div class="input-range-combo">
                    <input type="number" max="1000" min="-1000" step="5" value="{{.UIPercentOfDayToSkipPerSecond}}"
                        placeholder="0" class="indexed-input" id="timeshift-percent-{{$index}}" data-index="{{$index}}"
                        oninput='updateRangeValue("timeshift-percent-range", this);' />
                    <input type="range" max="1000" min="-1000" step="5" value="{{.UIPercentOfDayToSkipPerSecond}}"
                        placeholder="0" class="indexed-input" id="timeshift-percent-range-{{$index}}"
                        data-index="{{$index}}" name="effect[{{$index}}].percentToSkip"
                        oninput='updateRangeValue("timeshift-percent", this);' />
                </div>
            </div>
            <br />
            {{end}}
        </form>
        <div class="add-effect" onclick='addEffectInput();'>+</div>
    </div>

    <div class="footer">
        <div></div>
        <button id="test-button" class="darker-teal" type="button" onclick='doTestPreset();'>Test (3 seconds)</button>
        <button class="cyan" type="button" onclick='document.getElementById("preset-form").submit();'>Save</button>
        <div class="primary-button">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>
