<!doctype html>
<html>

{{template "header"}}

<body>
    <div class="preset-edit-main">
        <h1>{{if .ID}} Edit {{else}} Create New {{end}} <span class="orange">{{.DisplayName}} </span> Timeshift Preset
        </h1>
        <form class="preset-form" id="timeshift-preset-form" method="POST" action="/presets/timeshift-ui">
            {{template "sharedPresetModificationInputs" .}}

            <label>Effects</label>
            {{range $index, $element := .TimeshiftEffects}}
            <div class="effect-box">
                <span class="armor-stand">
                    <span class="delete-effect" onclick='removeEffectInput(this);'>🗑</span>
                </span>

                <label>Skip <span class="indexed-input" id="timeshift-range-{{$index}}">
                        {{.UIPercentOfDayToSkipPerSecond}}
                    </span>% of Minecraft day per second</label>
                <input class="indexed-input" name="effect[{{$index}}].percentToSkip" data-index="{{$index}}"
                    type="range" max="1000" min="-1000" step="5" placeholder="0"
                    value="{{.UIPercentOfDayToSkipPerSecond}}" oninput='updateRangeValue("timeshift-range", this);' />
            </div>
            <br />
            {{end}}
        </form>
        <div class="add-effect" onclick='addEffectInput("timeshift-preset-form");'>+</div>
    </div>

    <div class="footer">
        <div></div>
        <div></div>
        <button class="cyan" type="button"
            onclick='document.getElementById("timeshift-preset-form").submit();'>Save</button>
        <div class="master-controls">
            <button class="darker-cyan" type="button" onclick='navigate(CP_PRESETS_ENDPOINT);'>Cancel</button>
        </div>
    </div>
</body>

</html>
