.preset-manager-list-item__container {
    padding         : 0.5em;
    background-color: var(--background-alpha2);

    display              : grid;
    gap                  : 0.2em;
    grid-template-columns: auto min-content min-content;
    grid-template-rows   : max-content auto auto min-content;
    grid-template-areas  :
        'name        shortcut actions'
        'description shortcut actions'
        'summary     shortcut actions'
        'id          shortcut actions';

    & .display-name {
        grid-area  : name;
        font-weight: bold;

        & .edit-preset {
            cursor      : pointer;
            margin-right: 0.5em;

            &:hover {
                color: var(--font);
            }
        }
    }

    & .description {
        grid-area : description;
        font-style: italic;
    }

    & .shortcut {
        grid-area       : shortcut;
        font-size       : larger;
        border          : 1px solid var(--dark-gray);
        background-color: var(--background-alpha3);
        border-radius   : 0.5em;
        margin          : auto;
        height          : 2em;
        width           : 2em;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    & .summary {
        grid-area: summary;

        & span {
            margin-left: 0.5em;
        }
    }

    & .id {
        grid-area: id;
        font-size: x-small;
        color    : var(--gray);
    }

    & .actions {
        grid-area: actions;
        margin   : auto 0 auto 1.5em;

        & .duplicate-preset {
            cursor       : pointer;
            color        : var(--teal);
            margin-bottom: 0.5em;

            &:hover {
                color: var(--font);
            }
        }

        & .delete-preset {
            cursor: pointer;
            color : var(--red);

            &:hover {
                color: var(--font);
            }
        }
    }

}

.preset-manager-list-item__add-new {
    background-color: var(--background-alpha);
    cursor          : pointer;
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 1em;
}