button.control-panel-button {
    margin-top: 0.2em;
    padding   : 0.3em;
    width     : 4em;
    cursor    : pointer;

    border: 0.05em solid;

    &:hover {
        border-color    : var(--font) !important;
        background-color: var(--dark-gray) !important;
    }
}

button.running {
    cursor       : not-allowed;
    border-radius: 1em;
    transition   : border-radius 0.2s ease-out !important;
}