button.control-panel-button {
    margin-top: 0.2em;
    padding   : 0.3em;
    width     : 4em;
    cursor    : pointer;

    border: 0.05em solid;

    transition: all 0.2s ease-out;

    &:hover {
        color           : var(--font) !important;
        border-color    : var(--font) !important;
        background-color: var(--dark-gray) !important;
        transition      : none;
    }
}

button.running {
    cursor: not-allowed;
}