.control-panel__log-entry {
    display              : grid;
    grid-template-columns: max-content min-content auto;
    gap                  : 0 0.5em;

    & .log-timestamp {
        color: var(--gray);
    }

    & .log-category {
        font-weight: bold;
    }
}