input[type=text],
input[type=number],
textarea,
.fake-input,
select {
    color           : var(--font);
    background-color: var(--darker-accent-alpha);
    width           : 100%;
    padding         : 7px;
    box-sizing      : border-box;
    border          : none;
    border-radius   : 0.2em;
}

.color-input {
    background-color: transparent !important;
    padding         : 0 !important;
    border-radius   : none !important;
    box-shadow      : none !important;

    label {
        font-size: inherit !important;
        color    : var(--font) !important;
    }

    input {
        width           : 100% !important;
        box-sizing      : border-box;
        padding         : 0.5em !important;
        box-shadow      : none !important;
        font-size       : 0.9em !important;
        color           : var(--font);
        background-color: var(--darker-accent-alpha);
    }
}


@mixin checkbox-radio-container {
    display            : block;
    position           : relative;
    padding-left       : 2.2em;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;

    & input {
        position: absolute;
        opacity : 0;
        cursor  : pointer;
        height  : 0;
        width   : 0;
    }

    & span {
        position        : absolute;
        top             : 0;
        bottom          : 0;
        left            : 0;
        margin          : auto;
        height          : 1.5em;
        width           : 1.5em;
        background-color: var(--gray);
    }

    &:hover input~span {
        background-color: var(--lighter-gray);
    }

    input:checked~span {
        background-color: var(--accent);
    }

    input:checked~span:after {
        display: block;
    }

    span:after {
        content : "";
        position: absolute;
        display : none;
    }
}

.checkbox-container {
    @include checkbox-radio-container;

    & span {
        border-radius: 0.2em;
    }

    & span:after {
        top              : 0.2em;
        left             : 0.5em;
        width            : 0.5em;
        height           : 0.9em;
        border           : solid var(--font);
        border-width     : 0 0.25em 0.25em 0;
        -webkit-transform: rotate(45deg);
        -ms-transform    : rotate(45deg);
        transform        : rotate(45deg);
    }
}

.radio-container {
    @include checkbox-radio-container;

    & span {
        border-radius: 2em;
    }

    & span:after {
        background-color: var(--font);
        top             : 0.28em;
        right           : 0.28em;
        bottom          : 0.28em;
        left            : 0.28em;
        border-radius   : 2em;
    }
}