.popup-label {
    color  : var(--accent);
    display: inline-flex;

    & div {
        margin: auto;
    }

    & svg {
        margin-right: 0.3em;
    }
}

.popup-holder {
    position: relative;
    display : block;

    & .popup-content {
        visibility: hidden;

        position: absolute;
        top     : 1em;
        z-index : 1;

        padding         : 1em;
        background-color: var(--background-alpha3);
        backdrop-filter : blur(1.5em);
        box-shadow      : 0 1em 2em 0.5em var(--background);
        border-radius   : 0.5em;

        border: 1px solid var(--gray);

        &::before {
            content     : '';
            position    : relative;
            margin-top  : -1em;
            top         : -1em;
            left        : 0.3em;
            border-width: 0em 1em 1em 1em;
            border-style: solid;
            border-color: var(--gray) transparent;
            display     : block;
            width       : 0;
        }
    }

    & .show-popup {
        visibility: visible;
    }
}