body {
    padding                : 0;
    margin                 : 0;
    background-color       : var(--background);
    color                  : var(--font);
    font-size              : 0.9em;
    font-family            : -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
}

*::-webkit-scrollbar {
    width : 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius   : 6px;
    border          : 3px solid transparent;
}

code,
.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:visited {
    color          : var(--accent);
    text-decoration: none;
}

.button,
a {
    transition: all 0.3s ease-out, filter 0.8s ease-out;
    outline   : none;
    cursor    : pointer;

    &:hover {
        color     : var(--lighter-accent) !important;
        transition: all 0s, filter 0.8s ease-out;
    }

    &:active,
    &-active {
        filter    : drop-shadow(0 0 0.5em var(--lighter-accent));
        transition: none;
        color     : var(--lighter-accent) !important;
    }
}