@import "./variables.scss";

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type=text],
input[type=number],
textarea,
select {
    color           : var(--font);
    padding         : 0.5em;
    border          : none;
    background-color: var(--dark-gray);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--teal) var(--background);
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: var(--background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--teal);
    border-radius   : 6px;
    border          : 3px solid var(--background);
}

.checkbox-container {
    display            : block;
    position           : relative;
    padding-left       : 2em;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;

    & input {
        position: absolute;
        opacity : 0;
        cursor  : pointer;
        height  : 0;
        width   : 0;
    }

    & span {
        position        : absolute;
        top             : 0;
        left            : 0;
        height          : 1.5em;
        width           : 1.5em;
        background-color: var(--gray);
    }

    &:hover input~span {
        background-color: var(--lighter-gray);
    }

    input:checked~span {
        background-color: var(--teal);
    }

    input:checked~span:after {
        display: block;
    }

    span:after {
        content : "";
        position: absolute;
        display : none;
    }

    & span:after {
        left             : 0.5em;
        top              : 0.1em;
        width            : 0.3em;
        height           : 0.9em;
        border           : solid white;
        border-width     : 0 0.2em 0.2em 0;
        -webkit-transform: rotate(45deg);
        -ms-transform    : rotate(45deg);
        transform        : rotate(45deg);
    }
}