:root {
    --background0       : hsl(0, 0%, 3%);
    --background        : hsl(0, 0%, 7%);
    --background-alpha  : #000000e0;
    --background-alpha2 : #000000ad;
    --background-alpha3 : #00000071;
    --background-alpha4 : #00000023;
    --darkest-gray      : hsl(184, 6%, 15%);
    --darker-gray       : hsl(184, 6%, 33%);
    --dark-gray         : hsl(184, 6%, 53%);
    --gray              : hsl(184, 9%, 62%);
    --lighter-gray      : hsl(204, 8%, 76%);
    --lighter-gray-alpha: hsla(204, 8%, 76%, 0.5);
    --font              : hsl(192, 15%, 94%);

    --accent             : hsl(210, 29%, 54%);
    --accent-alpha       : hsla(210, 29%, 54%, 0.125);
    --lighter-accent     : hsl(210, 29%, 84%);
    --darker-accent      : hsl(210, 29%, 24%);
    --darker-accent-alpha: hsl(210, 29%, 24%, 0.8);
    --background-accent  : hsl(210, 29%, 6%);
    --red                : hsl(6, 63%, 46%);
    --darker-red         : hsl(6, 63%, 26%);
    --green              : hsl(145, 63%, 49%);
    --orange             : hsl(24, 100%, 41%);

    --potion           : hsl(168, 76%, 36%);
    --potion-alpha     : hsla(168, 76%, 36%, 0.19);
    --lighter-potion   : hsl(168, 76%, 56%);
    --darker-potion    : hsl(168, 76%, 16%);
    --timeshift        : hsl(37, 90%, 51%);
    --timeshift-alpha  : hsla(37, 90%, 51%, 0.19);
    --lighter-timeshift: hsl(37, 90%, 71%);
    --darker-timeshift : hsl(37, 90%, 31%);
    --laser            : hsl(282, 44%, 47%);
    --laser-alpha      : hsla(282, 44%, 47%, 0.19);
    --lighter-laser    : hsl(282, 44%, 67%);
    --lightning        : hsl(48, 89%, 50%);
    --lightning-alpha  : hsla(48, 89%, 50%, 0.19);
    --lighter-lightning: hsl(48, 89%, 70%);
    --darker-lightning : hsl(48, 89%, 30%);
    --darker-laser     : hsl(282, 44%, 27%);
    --particle         : hsl(204, 70%, 53%);
    --particle-alpha   : hsla(204, 70%, 53%, 0.19);
    --lighter-particle : hsl(204, 70%, 73%);
    --darker-particle  : hsl(204, 70%, 33%);
    --dragon           : hsl(6, 78%, 57%);
    --dragon-alpha     : hsla(6, 78%, 57%, 0.19);
    --lighter-dragon   : hsl(6, 78%, 77%);
    --darker-dragon    : hsl(6, 78%, 37%);
    --command          : hsl(210, 29%, 49%);
    --command-alpha    : hsla(210, 29%, 49%, 0.19);
    --lighter-command  : hsl(210, 29%, 69%);
    --darker-command   : hsl(210, 29%, 29%);
}