:root {
    --background0      : hsl(0, 0%, 3%);
    --background       : hsl(0, 0%, 7%);
    --background2      : hsl(0, 0%, 8%);
    --background3      : hsl(0, 0%, 9%);
    --background-alpha : #000000e0;
    --background-alpha2: #000000ad;
    --background-alpha3: #00000040;
    --background-alpha4: #00000018;
    --darker-gray      : #222;
    --dark-gray        : #444;
    --gray             : #777;
    --lighter-gray     : #bbb;
    --font             : hsl(180, 100%, 96%);

    --accent             : hsl(195, 70%, 45%);
    --lighter-accent     : hsl(195, 70%, 90%);
    --darker-accent      : hsl(195, 70%, 14%);
    --darker-accent-alpha: hsl(195, 70%, 14%, 0.8);
    --accent-alpha       : hsla(195, 70%, 20%, 0.125);
    --background-accent  : hsl(195, 70%, 6%);
    --red                : hsl(0, 90%, 50%);
    --darker-red         : hsl(0, 90%, 30%);
    --green              : hsl(120, 100%, 37%);
    --orange             : hsl(25, 100%, 48%);

    --potion           : hsl(120, 100%, 37%);
    --lighter-potion   : hsl(120, 100%, 85%);
    --darker-potion    : hsl(120, 100%, 20%);
    --potion-alpha     : hsla(120, 100%, 37%, 0.19);
    --timeshift        : hsl(25, 100%, 48%);
    --lighter-timeshift: hsl(25, 100%, 70%);
    --darker-timeshift : hsl(25, 100%, 20%);
    --timeshift-alpha  : hsla(25, 100%, 48%, 0.19);
    --laser            : hsl(255, 100%, 60%);
    --lighter-laser    : hsl(255, 100%, 80%);
    --darker-laser     : hsl(255, 100%, 30%);
    --laser-alpha      : hsla(255, 100%, 60%, 0.19);
    --particle         : hsl(195, 100%, 45%);
    --lighter-particle : hsl(195, 100%, 80%);
    --darker-particle  : hsl(195, 100%, 20%);
    --particle-alpha   : hsla(195, 100%, 50%, 0.19);
    --dragon           : hsl(325, 100%, 37%);
    --lighter-dragon   : hsl(325, 100%, 80%);
    --darker-dragon    : hsl(325, 100%, 16%);
    --dragon-alpha     : hsla(325, 100%, 37%, 0.19);
    --command          : hsl(205, 30%, 60%);
    --lighter-command  : hsl(205, 30%, 75%);
    --darker-command   : hsl(205, 30%, 30%);
    --command-alpha    : hsla(205, 30%, 47%, 0.19);
}