$accent-alpha         : 0.7;
$accent-lum-diff      : 20%;
$accent-lum-diff-more : 35%;

$white : #edf1f2;
$black : #060606;
$gray  : #95a6a7;

$accent : #5c88b4;

$green  : #2ecc70;
$orange : #d15400;
$red    : #bf3a2b;

$potion   : #16a286;
$timeshift: #e77e23;
$laser    : #8d43ad;
$lightning: #f1c40e;
$particle : #3398db;
$dragon   : #e74d3c;
$command  : #597da1;

:root {
    --white: #{$white};

    --black        : #{$black};
    --black-lighter: #{lighten($black, 5%)};
    --black-alpha  : #{transparentize($black, 0.4)};

    --gray             : #{$gray};
    --gray-alpha       : #{transparentize($gray, 0.5)};
    --darker-gray      : #{darken($gray, 50%)};
    --darker-gray-alpha: #{transparentize(darken($gray, 50%), 0.5)};

    --accent         : #{$accent};
    --accent-alpha   : #{transparentize($accent, 0.85)};
    --lighter-accent : #{lighten($accent, $accent-lum-diff)};
    --darker-accent  : #{darken($accent, $accent-lum-diff-more)};
    --darkest-accent : #{darken($accent, 45%)};

    --red        : #{$red};
    --darker-red : #{darken($red, $accent-lum-diff)};
    --green      : #{$green};
    --orange     : #{$orange};

    --potion            : #{$potion};
    --potion-alpha      : #{transparentize($potion, $accent-alpha)};
    --lighter-potion    : #{lighten($potion, $accent-lum-diff)};
    --darker-potion     : #{darken($potion, $accent-lum-diff)};
    --timeshift         : #{$timeshift};
    --timeshift-alpha   : #{transparentize($timeshift, $accent-alpha)};
    --lighter-timeshift : #{lighten($timeshift, $accent-lum-diff)};
    --darker-timeshift  : #{darken($timeshift, $accent-lum-diff)};
    --laser             : #{$laser};
    --laser-alpha       : #{transparentize($laser, $accent-alpha)};
    --lighter-laser     : #{lighten($laser, $accent-lum-diff)};
    --darker-laser      : #{darken($laser, $accent-lum-diff)};
    --lightning         : #{$lightning};
    --lightning-alpha   : #{transparentize($lightning, $accent-alpha)};
    --lighter-lightning : #{lighten($lightning, $accent-lum-diff)};
    --darker-lightning  : #{darken($lightning, $accent-lum-diff)};
    --particle          : #{$particle};
    --particle-alpha    : #{transparentize($particle, $accent-alpha)};
    --lighter-particle  : #{lighten($particle, $accent-lum-diff)};
    --darker-particle   : #{darken($particle, $accent-lum-diff)};
    --dragon            : #{$dragon};
    --dragon-alpha      : #{transparentize($dragon, $accent-alpha)};
    --lighter-dragon    : #{lighten($dragon, $accent-lum-diff)};
    --darker-dragon     : #{darken($dragon, $accent-lum-diff)};
    --command           : #{$command};
    --command-alpha     : #{transparentize($command, $accent-alpha)};
    --lighter-command   : #{lighten($command, $accent-lum-diff)};
    --darker-command    : #{darken($command, $accent-lum-diff)};
}