.control-panel__bossbar-control {
    display              : grid;
    grid-template-columns: min-content auto max-content max-content min-content;
    gap                  : 0 1em;

    & svg {
        color: var(--accent);
    }

    & .popup-label {
        width : 100%;
        height: 100%;
        color : var(--accent);
    }

    & .bossbar-popup-content {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        gap                  : 1em;

        width     : 100%;
        box-sizing: border-box;

        & .bossbar-preview {
            grid-column: 1 /span 2;
        }

        & .formatting-group {
            display: grid;
            gap    : 0.5em;
            height : min-content;

            &>div {
                display              : grid;
                grid-template-columns: 2em max-content;
                gap                  : 0.5em;
                width                : max-content;
            }
        }
    }

    & .bossbar-preview {
        height : 100%;
        display: flex;
        margin : auto;
    }

    & .update-button {
        margin-right: 0.5em;
    }
}